Copyright (c) 2020, NVIDIA CORPORATION.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

In [1]:
import os, time
os.environ["CUDA_VISIBLE_DEVICES"]="0"
start = time.time()

In [2]:
import pandas as pd, numpy as np, gc
from datetime import datetime
import joblib

import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
#import cudf, cupy
#cudf.__version__

In [3]:
from numba import jit, njit, prange
from sklearn.metrics import precision_recall_curve, auc, log_loss

def compute_prauc(gt, pred, nafill=True):
    if nafill:
        pred[ np.isnan(pred) ] = np.nanmean( pred )
    prec, recall, thresh = precision_recall_curve(gt, pred)
    prauc = auc(recall, prec)
    return prauc

@jit
def fast_auc(y_true, y_prob):
    y_true = np.asarray(y_true)
    y_true = y_true[np.argsort(y_prob)]
    nfalse = 0
    auc = 0
    n = len(y_true)
    for i in range(n):
        y_i = y_true[i]
        nfalse += (1 - y_i)
        auc += y_i * nfalse
    auc /= (nfalse * (n - nfalse))
    return auc

@njit
def numba_log_loss(y,x):
    n = x.shape[0]
    ll = 0.
    for i in prange(n):
        if y[i]<=0.:
            ll += np.log(1-x[i] + 1e-15 )
        else:
            ll += np.log(x[i] + 1e-15)
    return -ll / n

def compute_rce(gt , pred, nafill=True, verbose=0):
    if nafill:
        pred[ np.isnan(pred) ] = np.nanmean( pred )
        
    cross_entropy = numba_log_loss( gt, pred  )
    
    yt = np.mean(gt>0)     
    strawman_cross_entropy = -(yt*np.log(yt) + (1 - yt)*np.log(1 - yt))
    
    if verbose:
        print( "logloss: {0:.5f} / {1:.5f} = {2:.5f}".format(cross_entropy, strawman_cross_entropy, cross_entropy/strawman_cross_entropy))
        print( 'mean:    {0:.5f} / {1:.5f}'.format( np.nanmean( pred ) , yt  ) )
    
    return (1.0 - cross_entropy/strawman_cross_entropy)*100.0

In [4]:
def save_memory( df ):
    features = df.columns
    for i in range( df.shape[1] ):
        if df.dtypes[i] == 'uint8':
            df[features[i]] = df[features[i]].astype( np.int8 )
            gc.collect()
        elif df.dtypes[i] == 'bool':
            df[features[i]] = df[features[i]].astype( np.int8 )
            gc.collect()
        elif df.dtypes[i] == 'uint32':
            df[features[i]] = df[features[i]].astype( np.int32 )
            gc.collect()
        elif df.dtypes[i] == 'int64':
            df[features[i]] = df[features[i]].astype( np.int32 )
            gc.collect()
        elif df.dtypes[i] == 'float64':
            df[features[i]] = df[features[i]].astype( np.float32 )
            gc.collect()

# Load Train

In [5]:
train = pd.read_parquet( './dask_input/step2_output/train.parquet' )
test0 = pd.read_parquet( './dask_input/step2_output/valid.parquet' )
test1 = pd.read_parquet( './dask_input/step2_output/test.parquet' )
gc.collect()

train['tr'] = 0
test0['tr'] = 1
test1['tr'] = 1

train.shape, test0.shape, test1.shape

((21043825, 28), (0, 28), (0, 28))

In [6]:
train = pd.concat( (train,test0,test1), sort=False )
gc.collect()
del test0,test1
gc.collect()

train.shape

(21043825, 28)

In [7]:
%%time
train = train.sort_values('timestamp').reset_index(drop=True) #TIME ORDER
gc.collect()

CPU times: user 12.9 s, sys: 2.03 s, total: 14.9 s
Wall time: 14.9 s

20

In [8]:
train.loc[ train.reply>0, 'reply' ] = 1
train.loc[ train.retweet>0, 'retweet' ] = 1
train.loc[ train.retweet_comment>0, 'retweet_comment' ] = 1
train.loc[ train.like>0, 'like' ] = 1

train['engage'] = 0
train.loc[ (train.reply>0)|(train.retweet>0)|(train.retweet_comment>0)|(train.like>0)  , 'engage'] = 1
gc.collect()

19

In [9]:
train.head()

,timestamp,a_follower_count,a_following_count,a_is_verified,a_account_creation,b_follower_count,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like,id,language,tweet_type,media,tweet_id,a_user_id,b_user_id,len_hashtags,len_domains,len_links,domains,links,hashtags,tr,engage
0,1580947200,27447,115,True,1520574998,0,36,False,1567781844,False,0,0,0,0,326597,11,2,12,11027338,7364305,8110941,2,1,1,75539,885711,105355,0,0
1,1580947200,13782,327,True,1306013762,29,229,False,1411508008,False,0,0,0,0,634520,54,2,4,8294199,3882491,10148536,2,0,0,0,0,753162,0,0
2,1580947200,67167,2864,True,1214456422,114,218,False,1415584664,False,0,0,0,0,1257148,54,2,12,2463142,8702908,2764714,1,0,0,0,0,675884,0,0
3,1580947200,1923062,0,False,1400281110,217,159,False,1498869581,False,0,0,0,0,1161714,59,2,4,12817572,672903,9486466,0,0,0,0,0,0,0,0
4,1580947200,2982406,2411,True,1179400159,41,137,False,1272241451,False,0,0,0,0,802517,54,2,12,9833989,1170946,8165268,2,0,0,0,0,915393,0,0

In [10]:
save_memory(train)
gc.collect()

0

In [11]:
train.dtypes

timestamp             int32
a_follower_count      int32
a_following_count     int32
a_is_verified          int8
a_account_creation    int32
b_follower_count      int32
b_following_count     int32
b_is_verified          int8
b_account_creation    int32
b_follows_a            int8
reply                 int32
retweet               int32
retweet_comment       int32
like                  int32
id                    int32
language               int8
tweet_type             int8
media                  int8
tweet_id              int32
a_user_id             int32
b_user_id             int32
len_hashtags          int32
len_domains           int32
len_links             int32
domains               int32
links                 int32
hashtags              int32
tr                    int32
engage                int32
dtype: object

In [12]:
dt0 = train[['tr','a_user_id','a_follower_count','a_following_count','timestamp','id']].copy()
dt1 = train[['tr','b_user_id','b_follower_count','b_following_count','timestamp','id']].copy()
dt1.columns = ['tr','a_user_id','a_follower_count','a_following_count','timestamp','id']
dt1['id'] = -1
dt = pd.concat( (dt0,dt1), sort=False )
del dt0,dt1; _=gc.collect()
dt.head()

   tr  a_user_id  a_follower_count  a_following_count   timestamp       id
0   0    7364305             27447                115  1580947200   326597
1   0    3882491             13782                327  1580947200   634520
2   0    8702908             67167               2864  1580947200  1257148
3   0     672903           1923062                  0  1580947200  1161714
4   0    1170946           2982406               2411  1580947200   802517

In [13]:
%%time
dt['a_fc_max'] = dt.groupby(['tr','a_user_id','a_follower_count'])['timestamp'].transform('max'); _=gc.collect()
dt['a_fc_min'] = dt.groupby(['tr','a_user_id','a_follower_count'])['timestamp'].transform('min'); _=gc.collect()

dt['a_fc_dif'] = dt['a_fc_max'] - dt['a_fc_min']; _=gc.collect()

dt['a_fc_dif_max'] = dt.groupby(['tr','a_user_id'])['a_fc_dif'].transform('max'); _=gc.collect()

dt['a_fc_dif_flag'] = 1* ((dt['a_fc_dif'] == dt['a_fc_dif_max']) )  ; _=gc.collect()
dt.loc[ dt.a_fc_dif==0 ,'a_fc_dif_flag'] = -1

del dt['a_fc_max'],dt['a_fc_min'],dt['a_fc_dif'],dt['a_fc_dif_max'] ; _=gc.collect()
dt['a_fc_dif_flag'].value_counts()

CPU times: user 1min 9s, sys: 9.24 s, total: 1min 18s
Wall time: 1min 18s

 1    23475034
-1    10280925
 0     8331691
Name: a_fc_dif_flag, dtype: int64

In [14]:
train['a_user_fer_count_delta_time'] = train.merge( dt, on='id', how='left' )['a_fc_dif_flag'] ; _=gc.collect()

del dt['a_fc_dif_flag'] ; _=gc.collect()

train['a_user_fer_count_delta_time'].value_counts()

 1    9556576
 0    6823322
-1    4663927
Name: a_user_fer_count_delta_time, dtype: int64

In [15]:
train.groupby(['tr','a_user_fer_count_delta_time'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                                   reply   retweet retweet_comment      like
                                    mean      mean            mean      mean
tr a_user_fer_count_delta_time
0  -1                           0.004260  0.017557        0.001196  0.067782
    0                           0.001753  0.007218        0.000492  0.027965
    1                           0.000587  0.002356        0.000168  0.009200

In [16]:
%%time
dt['a_fc_max'] = dt.groupby(['tr','a_user_id','a_following_count'])['timestamp'].transform('max'); _=gc.collect()
dt['a_fc_min'] = dt.groupby(['tr','a_user_id','a_following_count'])['timestamp'].transform('min'); _=gc.collect()

dt['a_fc_dif'] = dt['a_fc_max'] - dt['a_fc_min']; _=gc.collect()

dt['a_fc_dif_max'] = dt.groupby(['tr','a_user_id'])['a_fc_dif'].transform('max'); _=gc.collect()

dt['a_fc_dif_flag'] = 1* ((dt['a_fc_dif'] == dt['a_fc_dif_max']) )  ; _=gc.collect()
dt.loc[ dt.a_fc_dif==0 ,'a_fc_dif_flag'] = -1

del dt['a_fc_max'],dt['a_fc_min'],dt['a_fc_dif'],dt['a_fc_dif_max'] ; _=gc.collect()
dt['a_fc_dif_flag'].value_counts()

CPU times: user 1min 9s, sys: 9.16 s, total: 1min 18s
Wall time: 1min 18s

 1    25609828
-1     9855889
 0     6621933
Name: a_fc_dif_flag, dtype: int64

In [17]:
train['a_user_fing_count_delta_time'] = train.merge( dt, on='id', how='left' )['a_fc_dif_flag'] ; _=gc.collect()

del dt['a_fc_dif_flag'] ; _=gc.collect()

train['a_user_fing_count_delta_time'].value_counts()

 1    12102651
 0     5106834
-1     3834340
Name: a_user_fing_count_delta_time, dtype: int64

In [18]:
train.groupby(['tr','a_user_fing_count_delta_time'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                                    reply   retweet retweet_comment      like
                                     mean      mean            mean      mean
tr a_user_fing_count_delta_time
0  -1                            0.004147  0.017024        0.001162  0.065931
    0                            0.001411  0.005802        0.000398  0.022400
    1                            0.001184  0.004854        0.000335  0.018811

In [19]:
%%time
dt['a_fc_max'] = dt.groupby(['tr','a_user_id','a_follower_count','a_following_count'])['timestamp'].transform('max'); _=gc.collect()
dt['a_fc_min'] = dt.groupby(['tr','a_user_id','a_follower_count','a_following_count'])['timestamp'].transform('min'); _=gc.collect()

dt['a_fc_dif'] = dt['a_fc_max'] - dt['a_fc_min']; _=gc.collect()

dt['a_fc_dif_max'] = dt.groupby(['tr','a_user_id'])['a_fc_dif'].transform('max'); _=gc.collect()

dt['a_fc_dif_flag'] = 1* ((dt['a_fc_dif'] == dt['a_fc_dif_max']) )  ; _=gc.collect()
dt.loc[ dt.a_fc_dif==0 ,'a_fc_dif_flag'] = -1

del dt['a_fc_max'],dt['a_fc_min'],dt['a_fc_dif'],dt['a_fc_dif_max'] ; _=gc.collect()
dt['a_fc_dif_flag'].value_counts()

CPU times: user 1min 14s, sys: 10.4 s, total: 1min 25s
Wall time: 1min 25s

 1    21280683
-1    12491523
 0     8315444
Name: a_fc_dif_flag, dtype: int64

In [20]:
train['a_user_fering_count_delta_time'] = train.merge( dt, on='id', how='left' )['a_fc_dif_flag'] ; _=gc.collect()

del dt['a_fc_dif_flag'] ; _=gc.collect()

train['a_user_fering_count_delta_time'].value_counts()

 1    9329520
 0    6751724
-1    4962581
Name: a_user_fering_count_delta_time, dtype: int64

In [21]:
train.groupby(['tr','a_user_fering_count_delta_time'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                                      reply   retweet retweet_comment  \
                                       mean      mean            mean
tr a_user_fering_count_delta_time
0  -1                              0.004185  0.017206        0.001169
    0                              0.001763  0.007272        0.000499
    1                              0.000511  0.002054        0.000147

                                       like
                                       mean
tr a_user_fering_count_delta_time
0  -1                              0.066478
    0                              0.028157
    1                              0.008023

In [22]:
%%time
dt['a_fc_count'] = dt.groupby(['tr','a_user_id','a_following_count'])['id'].transform('count'); _=gc.collect()
dt['a_fc_max']   = dt.groupby(['tr','a_user_id'])['a_fc_count'].transform('max'); _=gc.collect()
dt['a_fc_count_flag'] = 1* ((dt['a_fc_count'] == dt['a_fc_max']))  ; _=gc.collect()
dt.loc[ dt.a_fc_count<=1,'a_fc_count_flag'] = -1

del dt['a_fc_count'], dt['a_fc_max']
dt['a_fc_count_flag'].value_counts()

CPU times: user 42.8 s, sys: 5.35 s, total: 48.1 s
Wall time: 48.1 s

 1    28278130
-1     9534282
 0     4275238
Name: a_fc_count_flag, dtype: int64

In [23]:
train['a_user_fing_count_mode'] = train.merge( dt, on='id', how='left' )['a_fc_count_flag'] ; _=gc.collect()
del dt['a_fc_count_flag'] ; _=gc.collect()
train['a_user_fing_count_mode'].value_counts()

 1    14215985
-1     3468577
 0     3359263
Name: a_user_fing_count_mode, dtype: int64

In [24]:
train.groupby(['tr','a_user_fing_count_mode'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                              reply   retweet retweet_comment      like
                               mean      mean            mean      mean
tr a_user_fing_count_mode
0  -1                      0.004346  0.017915        0.001221  0.069329
    0                      0.003245  0.013332        0.000906  0.051663
    1                      0.000806  0.003287        0.000229  0.012721

In [25]:
%%time
dt['a_fc_count'] = dt.groupby(['tr','a_user_id','a_follower_count'])['id'].transform('count'); _=gc.collect()
dt['a_fc_max']   = dt.groupby(['tr','a_user_id'])['a_fc_count'].transform('max'); _=gc.collect()
dt['a_fc_count_flag'] = 1* ((dt['a_fc_count'] == dt['a_fc_max']))  ; _=gc.collect()
dt.loc[ dt.a_fc_count<=1,'a_fc_count_flag'] = -1

del dt['a_fc_count'], dt['a_fc_max']
dt['a_fc_count_flag'].value_counts()

CPU times: user 40.1 s, sys: 5.29 s, total: 45.4 s
Wall time: 45.4 s

 1    25440240
-1     9736316
 0     6911094
Name: a_fc_count_flag, dtype: int64

In [26]:
train['a_user_fer_count_mode'] = train.merge( dt, on='id', how='left' )['a_fc_count_flag'] ; _=gc.collect()
del dt['a_fc_count_flag'] ; _=gc.collect()
train['a_user_fer_count_mode'].value_counts()

 1    11053740
 0     5951835
-1     4038250
Name: a_user_fer_count_mode, dtype: int64

In [27]:
train.groupby(['tr','a_user_fer_count_mode'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                             reply   retweet retweet_comment      like
                              mean      mean            mean      mean
tr a_user_fer_count_mode
0  -1                     0.004588  0.018932        0.001285  0.073095
    0                     0.002460  0.010081        0.000689  0.039083
    1                     0.000386  0.001556        0.000113  0.006068

In [28]:
%%time
dt['a_fc_count'] = dt.groupby(['tr','a_user_id','a_follower_count','a_following_count'])['id'].transform('count'); _=gc.collect()
dt['a_fc_max']   = dt.groupby(['tr','a_user_id'])['a_fc_count'].transform('max'); _=gc.collect()
dt['a_fc_count_flag'] = 1* ((dt['a_fc_count'] == dt['a_fc_max']))  ; _=gc.collect()
dt.loc[ dt.a_fc_count<=1,'a_fc_count_flag'] = -1

del dt['a_fc_count'], dt['a_fc_max']
dt['a_fc_count_flag'].value_counts()

CPU times: user 42.3 s, sys: 5.61 s, total: 47.9 s
Wall time: 47.9 s

 1    23294352
-1    11907899
 0     6885399
Name: a_fc_count_flag, dtype: int64

In [29]:
train['a_user_fering_count_mode'] = train.merge( dt, on='id', how='left' )['a_fc_count_flag'] ; _=gc.collect()
del dt['a_fc_count_flag'] ; _=gc.collect()
train['a_user_fering_count_mode'].value_counts()

 1    10789284
 0     5931169
-1     4323372
Name: a_user_fering_count_mode, dtype: int64

In [30]:
train.groupby(['tr','a_user_fering_count_mode'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                                reply   retweet retweet_comment      like
                                 mean      mean            mean      mean
tr a_user_fering_count_mode
0  -1                        0.004487  0.018475        0.001249  0.071388
    0                        0.002430  0.009974        0.000685  0.038636
    1                        0.000336  0.001355        0.000099  0.005290

In [31]:
del dt; _=gc.collect()

In [32]:
train['a_count_combined'] = pd.factorize(
    (1+train['a_user_fer_count_delta_time'])*3**0 +
    (1+train['a_user_fing_count_delta_time'])*3**1 +
    (1+train['a_user_fering_count_delta_time'])*3**2 +
    (1+train['a_user_fing_count_mode'])*3**3 +
    (1+train['a_user_fer_count_mode'])*3**4 +
    (1+train['a_user_fering_count_mode'])*3**5 
)[0]
train['a_count_combined'].value_counts()

10     7555000
1      3234213
0      2235152
2      2198100
30     1303397
18      641070
3       604861
28      591446
5       463323
20      436671
27      278323
24      184788
17      133396
4       123534
7       110406
8        81533
47       76629
39       73295
21       66184
12       62598
43       52251
6        50718
33       42632
31       37211
13       31357
23       30550
11       26659
9        25455
53       22891
25       17986
38       16725
60       15646
42       13384
69       12572
16       11689
56       10577
40       10294
15       10207
63       10148
19        7342
35        7115
62        6939
71        6204
54        5737
46        5707
48        5686
59        5598
32        5168
55        5017
34        4676
80        4320
51        3909
70        3520
84        3034
109       2800
78        2674
37        2632
76        2553
75        2470
50        2458
26        2355
114       2198
22        2195
65        2176
61        1979
64        1880
36        1596
74        1593
85        1454
57        1371
117       1370
58        1240
41        1215
103       1196
90        1062
116        992
29         933
91         926
52         884
108        857
14         847
99         839
110        806
120        685
49         672
86         648
100        592
97         589
130        575
44         543
89         510
93         481
118        475
95         473
122        465
77         457
121        411
68         388
45         372
81         360
115        322
66         321
111        300
87         243
113        239
131        234
104        216
101        192
67         160
112        149
88         148
79         145
106        135
133        128
135        122
96         118
134        112
94         109
124        103
125        102
83         101
126         99
145         97
98          86
138         79
129         71
141         51
105         51
127         48
137         47
123         46
73          43
132         40
140         38
102         38
136         35
144         22
72          21
128         20
82          18
146         15
154         13
149          9
139          8
107          6
148          6
147          5
143          2
142          2
159          2
150          2
151          2
153          2
92           2
156          2
157          2
158          2
119          1
152          1
155          1
160          1
Name: a_count_combined, dtype: int64

In [33]:
train.loc[ train.tr==0 ].groupby('a_count_combined')[['reply','retweet','retweet_comment','like']].agg(['mean'])

                     reply   retweet retweet_comment      like
                      mean      mean            mean      mean
a_count_combined
0                 0.002506  0.010255        0.000721  0.039620
1                 0.004430  0.018314        0.001253  0.070833
2                 0.001855  0.007607        0.000510  0.029368
3                 0.004214  0.017263        0.001179  0.066551
4                 0.006306  0.024511        0.001805  0.095852
5                 0.004084  0.017355        0.001168  0.068447
6                 0.013881  0.055720        0.003667  0.211444
7                 0.007853  0.032806        0.001993  0.126325
8                 0.011578  0.045859        0.003042  0.176849
9                 0.008093  0.032724        0.002043  0.131212
10                0.000361  0.001472        0.000107  0.005753
11                0.003151  0.012266        0.000488  0.048051
12                0.003866  0.015655        0.000879  0.061152
13                0.003157  0.014447        0.001084  0.055458
14                0.018890  0.051948        0.005903  0.216057
15                0.004801  0.021064        0.001861  0.074165
16                0.010608  0.039011        0.002481  0.160065
17                0.002062  0.008853        0.000675  0.032677
18                0.000117  0.000473        0.000041  0.001774
19                0.000545  0.002860        0.000272  0.011169
20                0.000172  0.000721        0.000030  0.002897
21                0.000196  0.000665        0.000076  0.003188
22                0.002278  0.014579        0.001822  0.052847
23                0.002226  0.009755        0.000491  0.034304
24                0.002852  0.011202        0.000758  0.043320
25                0.003447  0.015456        0.000834  0.059157
26                0.003822  0.026327        0.000849  0.090870
27                0.001940  0.007110        0.000535  0.028276
28                0.000076  0.000320        0.000014  0.001146
29                0.012862  0.048232        0.003215  0.206860
30                0.000018  0.000081        0.000007  0.000294
31                0.000672  0.003547        0.000215  0.012093
32                0.004450  0.012577        0.000967  0.052632
33                0.000446  0.001595        0.000117  0.007107
34                0.000214  0.001497        0.000000  0.004277
35                0.000703  0.003795        0.000000  0.015601
36                0.001253  0.008145        0.000000  0.029449
37                0.003419  0.020897        0.001140  0.077128
38                0.002152  0.009148        0.000658  0.037250
39                0.000068  0.000450        0.000027  0.001405
40                0.000583  0.001263        0.000097  0.006800
41                0.003292  0.021399        0.001646  0.074074
42                0.000299  0.002466        0.000149  0.008443
43                0.000459  0.001435        0.000038  0.005588
44                0.003683  0.011050        0.003683  0.049724
45                0.002688  0.002688        0.000000  0.010753
46                0.000876  0.005081        0.000175  0.020326
47                0.001240  0.005651        0.000496  0.021219
48                0.002286  0.004749        0.000352  0.021984
49                0.000000  0.004464        0.000000  0.010417
50                0.000814  0.006916        0.001221  0.025631
51                0.002814  0.014326        0.000767  0.050908
52                0.002262  0.002262        0.000000  0.020362
53                0.000306  0.001616        0.000131  0.005635
54                0.000872  0.005229        0.000349  0.025797
55                0.002791  0.010365        0.000199  0.040064
56                0.000378  0.002931        0.000284  0.007847
57                0.008753  0.015317        0.001459  0.101386
58                0.000806  0.008065        0.000806  0.030645
59                0.000179  0.001429        0.000179  0.006431
60                0.000000  0.000128        0.000000  0.001150
61                0.003032  0.007074        0.001516  0.026781
62                0.000576  0.001585        0.000000  0.006341
63                0.000985  0.005321        0.000099  0.021876
64                0.000000  0.005319        0.000532  0.014362
65                0.000919  0.003676        0.000460  0.018842
66                0.003115  0.000000        0.000000  0.012461
67                0.037500  0.087500        0.000000  0.193750
68                0.002577  0.002577        0.000000  0.020619
69                0.000080  0.000557        0.000000  0.002704
70                0.002273  0.006534        0.000284  0.025284
71                0.000161  0.000967        0.000161  0.003063
72                0.000000  0.142857        0.000000  0.142857
73                0.000000  0.023256        0.000000  0.093023
74                0.000000  0.000628        0.000000  0.006905
75                0.000000  0.002429        0.000000  0.005263
76                0.000000  0.004309        0.000392  0.012143
77                0.002188  0.010941        0.002188  0.072210
78                0.001122  0.004114        0.000374  0.010845
79                0.000000  0.020690        0.006897  0.006897
80                0.000231  0.000231        0.000000  0.005093
81                0.000000  0.005556        0.000000  0.013889
82                0.000000  0.000000        0.000000  0.111111
83                0.000000  0.009901        0.009901  0.000000
84                0.001648  0.005933        0.000330  0.017469
85                0.004814  0.012380        0.001376  0.029574
86                0.000000  0.000000        0.000000  0.004630
87                0.008230  0.000000        0.000000  0.012346
88                0.000000  0.013514        0.000000  0.006757
89                0.001961  0.007843        0.000000  0.023529
90                0.000000  0.001883        0.000000  0.002825
91                0.001080  0.003240        0.000000  0.014039
92                0.000000  0.000000        0.000000  0.000000
93                0.004158  0.014553        0.002079  0.033264
94                0.000000  0.009174        0.000000  0.027523
95                0.002114  0.006342        0.000000  0.033827
96                0.000000  0.000000        0.000000  0.008475
97                0.000000  0.000000        0.000000  0.003396
98                0.000000  0.000000        0.000000  0.023256
99                0.001192  0.001192        0.000000  0.011919
100               0.001689  0.003378        0.000000  0.020270
101               0.000000  0.000000        0.000000  0.000000
102               0.000000  0.000000        0.000000  0.000000
103               0.000000  0.000000        0.000000  0.001672
104               0.000000  0.000000        0.000000  0.009259
105               0.000000  0.000000        0.000000  0.039216
106               0.000000  0.007407        0.000000  0.000000
107               0.000000  0.000000        0.000000  0.000000
108               0.000000  0.000000        0.000000  0.001167
109               0.000357  0.000714        0.000000  0.006071
110               0.001241  0.000000        0.000000  0.013648
111               0.000000  0.003333        0.000000  0.013333
112               0.000000  0.006711        0.000000  0.033557
113               0.000000  0.000000        0.000000  0.020921
114               0.000000  0.000910        0.000455  0.002275
115               0.012422  0.003106        0.000000  0.031056
116               0.000000  0.000000        0.000000  0.002016
117               0.000730  0.000730        0.000000  0.002190
118               0.002105  0.006316        0.002105  0.008421
119               0.000000  0.000000        0.000000  1.000000
120               0.000000  0.000000        0.000000  0.000000
121               0.002433  0.004866        0.000000  0.019465
122               0.000000  0.000000        0.000000  0.000000
123               0.000000  0.000000        0.000000  0.000000
124               0.000000  0.000000        0.000000  0.000000
125               0.000000  0.000000        0.000000  0.000000
126               0.000000  0.000000        0.000000  0.000000
127               0.000000  0.000000        0.000000  0.000000
128               0.000000  0.000000        0.000000  0.000000
129               0.000000  0.000000        0.000000  0.000000
130               0.000000  0.000000        0.000000  0.000000
131               0.000000  0.000000        0.000000  0.000000
132               0.000000  0.000000        0.000000  0.000000
133               0.000000  0.000000        0.000000  0.000000
134               0.000000  0.000000        0.000000  0.000000
135               0.000000  0.000000        0.000000  0.000000
136               0.000000  0.000000        0.000000  0.000000
137               0.000000  0.000000        0.000000  0.000000
138               0.000000  0.000000        0.000000  0.000000
139               0.000000  0.000000        0.000000  0.000000
140               0.000000  0.000000        0.000000  0.000000
141               0.000000  0.000000        0.000000  0.000000
142               0.000000  0.000000        0.000000  0.000000
143               0.000000  0.000000        0.000000  0.000000
144               0.000000  0.000000        0.000000  0.000000
145               0.000000  0.000000        0.000000  0.000000
146               0.000000  0.000000        0.000000  0.000000
147               0.000000  0.000000        0.000000  0.000000
148               0.000000  0.000000        0.000000  0.000000
149               0.000000  0.000000        0.000000  0.000000
150               0.000000  0.000000        0.000000  0.000000
151               0.000000  0.000000        0.000000  0.000000
152               0.000000  0.000000        0.000000  0.000000
153               0.000000  0.000000        0.000000  0.000000
154               0.000000  0.000000        0.000000  0.000000
155               0.000000  0.000000        0.000000  0.000000
156               0.000000  0.000000        0.000000  0.000000
157               0.000000  0.000000        0.000000  0.000000
158               0.000000  0.000000        0.000000  0.000000
159               0.000000  0.000000        0.000000  0.000000
160               0.000000  0.000000        0.000000  0.000000

In [34]:
train.head()

,timestamp,a_follower_count,a_following_count,a_is_verified,a_account_creation,b_follower_count,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like,id,language,tweet_type,media,tweet_id,a_user_id,b_user_id,len_hashtags,len_domains,len_links,domains,links,hashtags,tr,engage,a_user_fer_count_delta_time,a_user_fing_count_delta_time,a_user_fering_count_delta_time,a_user_fing_count_mode,a_user_fer_count_mode,a_user_fering_count_mode,a_count_combined
0,1580947200,27447,115,1,1520574998,0,36,0,1567781844,0,0,0,0,0,326597,11,2,12,11027338,7364305,8110941,2,1,1,75539,885711,105355,0,0,0,0,0,0,0,0,0
1,1580947200,13782,327,1,1306013762,29,229,0,1411508008,0,0,0,0,0,634520,54,2,4,8294199,3882491,10148536,2,0,0,0,0,753162,0,0,-1,-1,-1,-1,-1,-1,1
2,1580947200,67167,2864,1,1214456422,114,218,0,1415584664,0,0,0,0,0,1257148,54,2,12,2463142,8702908,2764714,1,0,0,0,0,675884,0,0,-1,-1,-1,-1,-1,-1,1
3,1580947200,1923062,0,0,1400281110,217,159,0,1498869581,0,0,0,0,0,1161714,59,2,4,12817572,672903,9486466,0,0,0,0,0,0,0,0,0,1,0,1,0,0,2
4,1580947200,2982406,2411,1,1179400159,41,137,0,1272241451,0,0,0,0,0,802517,54,2,12,9833989,1170946,8165268,2,0,0,0,0,915393,0,0,0,1,0,1,0,0,2

In [35]:
dt = train[['id','a_count_combined','a_user_fer_count_delta_time','a_user_fing_count_delta_time','a_user_fering_count_delta_time','a_user_fing_count_mode','a_user_fer_count_mode','a_user_fering_count_mode']]
dt = dt.sort_values( 'id' )
dt = dt.reset_index( drop=True )
save_memory( dt )
dt.to_parquet( 'a_count_combined-final.parquet' )
dt.tail(5)

,id,a_count_combined,a_user_fer_count_delta_time,a_user_fing_count_delta_time,a_user_fering_count_delta_time,a_user_fing_count_mode,a_user_fer_count_mode,a_user_fering_count_mode
21043775,20872892,2,0,1,0,1,0,0
21043776,20872892,10,1,1,1,1,1,1
21043777,20872893,2,0,1,0,1,0,0
21043778,20872894,10,1,1,1,1,1,1
21043779,20872895,10,1,1,1,1,1,1
21043780,20872896,2,0,1,0,1,0,0
21043781,20872897,10,1,1,1,1,1,1
21043782,20872898,2,0,1,0,1,0,0
21043783,20872899,17,-1,1,-1,1,0,0
21043784,20872900,2,0,1,0,1,0,0
21043785,20872901,10,1,1,1,1,1,1
21043786,20872902,0,0,0,0,0,0,0
21043787,20872903,30,1,0,1,1,1,1
21043788,20872904,1,-1,-1,-1,-1,-1,-1
21043789,20872905,10,1,1,1,1,1,1
21043790,20872906,10,1,1,1,1,1,1
21043791,20872907,1,-1,-1,-1,-1,-1,-1
21043792,20872908,10,1,1,1,1,1,1
21043793,20872909,30,1,0,1,1,1,1
21043794,20872910,28,0,1,0,1,1,1
21043795,20872911,10,1,1,1,1,1,1
21043796,20872912,2,0,1,0,1,0,0
21043797,20872913,1,-1,-1,-1,-1,-1,-1
21043798,20872914,10,1,1,1,1,1,1
21043799,20872915,11,0,-1,-1,-1,0,-1
21043800,20872916,10,1,1,1,1,1,1
21043801,20872917,1,-1,-1,-1,-1,-1,-1
21043802,20872918,1,-1,-1,-1,-1,-1,-1
21043803,20872919,10,1,1,1,1,1,1
21043804,20872920,2,0,1,0,1,0,0
21043805,20872921,2,0,1,0,1,0,0
21043806,20872922,1,-1,-1,-1,-1,-1,-1
21043807,20872923,2,0,1,0,1,0,0
21043808,20872924,10,1,1,1,1,1,1
21043809,20872925,30,1,0,1,1,1,1
21043810,20872926,49,1,1,1,0,0,1
21043811,20872927,10,1,1,1,1,1,1
21043812,20872928,0,0,0,0,0,0,0
21043813,20872929,76,1,1,0,1,1,0
21043814,20872930,10,1,1,1,1,1,1
21043815,20872931,10,1,1,1,1,1,1
21043816,20872932,1,-1,-1,-1,-1,-1,-1
21043817,20872933,0,0,0,0,0,0,0
21043818,20872934,0,0,0,0,0,0,0
21043819,20872935,10,1,1,1,1,1,1
21043820,20872936,2,0,1,0,1,0,0
21043821,20872937,5,0,1,0,0,0,0
21043822,20872938,0,0,0,0,0,0,0
21043823,20872939,1,-1,-1,-1,-1,-1,-1
21043824,20872940,0,0,0,0,0,0,0