Copyright (c) 2020, NVIDIA CORPORATION.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline  

import pandas as pd
import numpy as np
import gc

In [2]:
DTYPES = {
    '8': 'int32',
    '10': 'int32',
    '11': 'int32',
    '13': 'int32',
    '15': 'int32',
    '16': 'int32',
    '18': 'int32',
    '20': 'float32',
    '21': 'float32',
    '22': 'float32',
    '23': 'float32',
}

df = pd.read_csv('/home/pinto/training.tsv', sep='\x01', header=None, dtype=DTYPES )
gc.collect()
df

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,101\t1894\t47271\t11369\t82791\t39675\t34065\t...,A3D61C03DBCE2F920350379414E0048B\t867E9AB76EFF...,29083D10151BD72E2459635EA38AC8B3,Photo,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581472519,DA64544DF9826E9F284F4FF6CE624F7A,...,00000523D726C61D483CC9AF99C69FF7,4,6,False,1568940527,True,NaN,NaN,NaN,NaN
1,101\t17607\t11382\t14444\t10499\t17025\t10854\...,NaN,D717A0A251D46C3382D55CA36DDC7F33,NaN,NaN,NaN,Quote,ECED8A16BE2A5E8871FD55F4842F16B1,1581124265,2D17D33032F1DFFAA740384DFE68C7BB,...,00000860E80C67D8C46CE57C64DE9444,225,185,False,1541013180,True,NaN,NaN,NaN,1.581174e+09
2,101\t21333\t34755\t20338\t19554\t90582\t42588\...,NaN,2B880E288129B67CF644D6123C923EBF,NaN,NaN,NaN,TopLevel,9BF3403E0EB7EA8A256DA9019C0B0716,1581166895,092FBF2F7989B4B817428B4AD44DCD37,...,00000DEF82BE9EB5CFD07FB7DB94317B,4,72,False,1573996260,False,NaN,NaN,NaN,1.581202e+09
3,101\t1910\t11588\t37311\t89744\t111791\t15221\...,NaN,AE9DD310CF14AFD4F1A95902521FF132,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581375781,054BA689B31AEFD429EE2DED113F92DA,...,00000E0C9B364891CDE89ECFC54771DE,780,440,False,1432084055,True,NaN,NaN,NaN,1.581437e+09
4,101\t56898\t137\t38329\t25285\t13264\t11447\t5...,NaN,E5A28F213A16FF06D0CEE628F9A01E16,NaN,NaN,NaN,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,1580996019,B28168B03223509298F983523265035C,...,00000FAA76D55EEF9C4693D28473437B,180,32,False,1490688761,False,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106254457,101\t56898\t137\t41324\t10113\t11274\t63279\t1...,NaN,00B3CFEA6FB1BD45F30776FFB47D30A5,NaN,NaN,NaN,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581020725,0453109F91C2B551CEA2E254A749818B,...,FFFFEEE1D53B8115DB6944AD31D06C96,145,289,False,1466966626,False,1.581023e+09,NaN,NaN,NaN
106254458,101\t150\t41519\t185\t47303\t11676\t35074\t101...,NaN,2B1285D27BAAE6621F36B7F08D02DF28,NaN,NaN,NaN,TopLevel,9BF3403E0EB7EA8A256DA9019C0B0716,1581314942,1ACA3003164F710D66B474E0EB8A7756,...,FFFFFB2D8B6FD1034804A4B740CB16BC,15,218,False,1552899774,False,NaN,NaN,NaN,1.581316e+09
106254459,101\t56898\t137\t20464\t131\t22678\t57981\t117...,DBAECDE29EF8820ECECC69913C4B4713\tCF91A0551235...,A5152C80EDA464DC885277AAD6C12FDB,NaN,NaN,NaN,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581418618,20CE4FE6C1D33D8FCF98C890A0076B09,...,FFFFFE97AA06327403491D71E2ED52DA,719,463,False,1501554925,True,NaN,NaN,NaN,1.581423e+09
106254460,101\t56898\t137\t10474\t11274\t15709\t10253\t2...,NaN,594EB7611FF4DA83CA6DD1BBD1E37735,NaN,NaN,NaN,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581538343,4B91F5419E912AAC5406808704DF228F,...,FFFFFEC9E895C3E139CB84D782E1F9A3,2894,4228,False,1488749768,False,NaN,NaN,NaN,NaN
106254461,101\t1985\t22396\t32623\t28100\t2770\t5610\t44...,NaN,249E828D83666F1B9775B11AE86820D7,Photo\tPhoto\tPhoto\tPhoto,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581053045,789ED7A8138173AA537DED377A47BF12,...,FFFFFFC2C8FBB47D9D726A4D7B40113B,2,168,False,1537862613,False,NaN,NaN,NaN,1.581056e+09

In [3]:
features = [
    'text_tokens',    ###############
    'hashtags',       #Tweet Features
    'tweet_id',       #
    'media',          #
    'links',          #
    'domains',        #
    'tweet_type',     #
    'language',       #
    'timestamp',      ###############
    'a_user_id',              ###########################
    'a_follower_count',       #Engaged With User Features
    'a_following_count',      #
    'a_is_verified',          #
    'a_account_creation',     ###########################
    'b_user_id',              #######################
    'b_follower_count',       #Engaging User Features
    'b_following_count',      #
    'b_is_verified',          #
    'b_account_creation',     #######################
    'b_follows_a',    #################### Engagement Features
    'reply',          #Target Reply
    'retweet',        #Target Retweet    
    'retweet_comment',#Target Retweet with comment
    'like'            #Target Like
]
df.columns = features
gc.collect()

df = df.drop('text_tokens', axis=1)
gc.collect()

print( df.shape )
df.head(10)

(106254462, 23)

,hashtags,tweet_id,media,links,domains,tweet_type,language,timestamp,a_user_id,a_follower_count,...,b_user_id,b_follower_count,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like
0,A3D61C03DBCE2F920350379414E0048B\t867E9AB76EFF...,29083D10151BD72E2459635EA38AC8B3,Photo,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581472519,DA64544DF9826E9F284F4FF6CE624F7A,11005,...,00000523D726C61D483CC9AF99C69FF7,4,6,False,1568940527,True,NaN,NaN,NaN,NaN
1,NaN,D717A0A251D46C3382D55CA36DDC7F33,NaN,NaN,NaN,Quote,ECED8A16BE2A5E8871FD55F4842F16B1,1581124265,2D17D33032F1DFFAA740384DFE68C7BB,425,...,00000860E80C67D8C46CE57C64DE9444,225,185,False,1541013180,True,NaN,NaN,NaN,1.581174e+09
2,NaN,2B880E288129B67CF644D6123C923EBF,NaN,NaN,NaN,TopLevel,9BF3403E0EB7EA8A256DA9019C0B0716,1581166895,092FBF2F7989B4B817428B4AD44DCD37,298336,...,00000DEF82BE9EB5CFD07FB7DB94317B,4,72,False,1573996260,False,NaN,NaN,NaN,1.581202e+09
3,NaN,AE9DD310CF14AFD4F1A95902521FF132,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581375781,054BA689B31AEFD429EE2DED113F92DA,1115,...,00000E0C9B364891CDE89ECFC54771DE,780,440,False,1432084055,True,NaN,NaN,NaN,1.581437e+09
4,NaN,E5A28F213A16FF06D0CEE628F9A01E16,NaN,NaN,NaN,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,1580996019,B28168B03223509298F983523265035C,63473,...,00000FAA76D55EEF9C4693D28473437B,180,32,False,1490688761,False,NaN,NaN,NaN,NaN
5,NaN,166C053A658691172A7A3CB20D8FB614,Photo\tPhoto\tPhoto,NaN,NaN,TopLevel,ECED8A16BE2A5E8871FD55F4842F16B1,1581004518,A0FD6DF4B4FBF62949708CDB97CC8124,29358,...,000012D4971A83624EF9C6711AE5167D,929,928,False,1577292324,True,1.581009e+09,NaN,NaN,NaN
6,D8788CF06B4D91C8A6CED6296546409D\t49A1E0B17ED6...,809C4429056519E4884B57C23391F354,NaN,NaN,NaN,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581209689,3800687CF413F0D3437964E46917E691,562,...,000012D4971A83624EF9C6711AE5167D,929,928,False,1577292324,True,NaN,NaN,NaN,1.581210e+09
7,NaN,E9B41C96A1BADC2F99A804DAE68AFDB9,NaN,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581511341,45F6CF7C3C03F3E9804EC74E04DC2A7F,529009,...,000013315386492275CCBF7AEF293EF0,139,952,False,1335110299,False,NaN,NaN,NaN,1.581515e+09
8,38F9B8B232E7F776F62141A30ED2561A,02E97E2A4AD07AD5FBC93C71B729B144,Video,NaN,NaN,TopLevel,ECED8A16BE2A5E8871FD55F4842F16B1,1581193484,CAA184EEC83814E958623BE33529CE97,26730,...,000013E6563760E3916215D42BE0D406,286,522,False,1439811227,False,NaN,NaN,NaN,NaN
9,NaN,5FB1147ECBF1470220BBA40408CAA5B2,NaN,NaN,NaN,TopLevel,B9175601E87101A984A50F8A62A1C374,1581433245,DFCDD33942CB6E3C5FA6BF92A480A13B,2664,...,00001A44953DA3D7A98CE440728288D4,48,140,False,1568691506,False,NaN,NaN,NaN,NaN

In [4]:
df['id']   = np.arange( df.shape[0] )
df['id']   = df['id'].astype(np.uint32)

df['reply']   = df['reply'].fillna(0)
df['retweet'] = df['retweet'].fillna(0)
df['retweet_comment'] = df['retweet_comment'].fillna(0)
df['like']    = df['like'].fillna(0)

df['reply']   = df['reply'].astype(np.uint32)
df['retweet'] = df['retweet'].astype(np.uint32)
df['retweet_comment'] = df['retweet_comment'].astype(np.uint32)
df['like']    = df['like'].astype(np.uint32)

df.head(10)

,hashtags,tweet_id,media,links,domains,tweet_type,language,timestamp,a_user_id,a_follower_count,...,b_follower_count,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like,id
0,A3D61C03DBCE2F920350379414E0048B\t867E9AB76EFF...,29083D10151BD72E2459635EA38AC8B3,Photo,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581472519,DA64544DF9826E9F284F4FF6CE624F7A,11005,...,4,6,False,1568940527,True,0,0,0,0,0
1,NaN,D717A0A251D46C3382D55CA36DDC7F33,NaN,NaN,NaN,Quote,ECED8A16BE2A5E8871FD55F4842F16B1,1581124265,2D17D33032F1DFFAA740384DFE68C7BB,425,...,225,185,False,1541013180,True,0,0,0,1581174423,1
2,NaN,2B880E288129B67CF644D6123C923EBF,NaN,NaN,NaN,TopLevel,9BF3403E0EB7EA8A256DA9019C0B0716,1581166895,092FBF2F7989B4B817428B4AD44DCD37,298336,...,4,72,False,1573996260,False,0,0,0,1581201675,2
3,NaN,AE9DD310CF14AFD4F1A95902521FF132,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581375781,054BA689B31AEFD429EE2DED113F92DA,1115,...,780,440,False,1432084055,True,0,0,0,1581437254,3
4,NaN,E5A28F213A16FF06D0CEE628F9A01E16,NaN,NaN,NaN,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,1580996019,B28168B03223509298F983523265035C,63473,...,180,32,False,1490688761,False,0,0,0,0,4
5,NaN,166C053A658691172A7A3CB20D8FB614,Photo\tPhoto\tPhoto,NaN,NaN,TopLevel,ECED8A16BE2A5E8871FD55F4842F16B1,1581004518,A0FD6DF4B4FBF62949708CDB97CC8124,29358,...,929,928,False,1577292324,True,1581008849,0,0,0,5
6,D8788CF06B4D91C8A6CED6296546409D\t49A1E0B17ED6...,809C4429056519E4884B57C23391F354,NaN,NaN,NaN,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581209689,3800687CF413F0D3437964E46917E691,562,...,929,928,False,1577292324,True,0,0,0,1581209817,6
7,NaN,E9B41C96A1BADC2F99A804DAE68AFDB9,NaN,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581511341,45F6CF7C3C03F3E9804EC74E04DC2A7F,529009,...,139,952,False,1335110299,False,0,0,0,1581515122,7
8,38F9B8B232E7F776F62141A30ED2561A,02E97E2A4AD07AD5FBC93C71B729B144,Video,NaN,NaN,TopLevel,ECED8A16BE2A5E8871FD55F4842F16B1,1581193484,CAA184EEC83814E958623BE33529CE97,26730,...,286,522,False,1439811227,False,0,0,0,0,8
9,NaN,5FB1147ECBF1470220BBA40408CAA5B2,NaN,NaN,NaN,TopLevel,B9175601E87101A984A50F8A62A1C374,1581433245,DFCDD33942CB6E3C5FA6BF92A480A13B,2664,...,48,140,False,1568691506,False,0,0,0,0,9

In [5]:
df['timestamp']         = df['timestamp'].astype( np.uint32 )
df['a_follower_count']  = df['a_follower_count'].astype( np.uint32 )
df['a_following_count'] = df['a_following_count'].astype( np.uint32 )
df['a_account_creation']= df['a_account_creation'].astype( np.uint32 )
df['b_follower_count']  = df['b_follower_count'].astype( np.uint32 )
df['b_following_count'] = df['b_following_count'].astype( np.uint32 )
df['b_account_creation']= df['b_account_creation'].astype( np.uint32 )
gc.collect()

df.dtypes

hashtags              object
tweet_id              object
media                 object
links                 object
domains               object
tweet_type            object
language              object
timestamp             uint32
a_user_id             object
a_follower_count      uint32
a_following_count     uint32
a_is_verified           bool
a_account_creation    uint32
b_user_id             object
b_follower_count      uint32
b_following_count     uint32
b_is_verified           bool
b_account_creation    uint32
b_follows_a             bool
reply                 uint32
retweet               uint32
retweet_comment       uint32
like                  uint32
id                    uint32
dtype: object

In [6]:
dv = pd.read_csv('/home/pinto/val.tsv', sep='\x01', header=None, dtype=DTYPES )
gc.collect()
dv.shape

(9760684, 24)

In [7]:
features = [
    'text_tokens',    ###############
    'hashtags',       #Tweet Features
    'tweet_id',       #
    'media',          #
    'links',          #
    'domains',        #
    'tweet_type',     #
    'language',       #
    'timestamp',      ###############
    'a_user_id',              ###########################
    'a_follower_count',       #Engaged With User Features
    'a_following_count',      #
    'a_is_verified',          #
    'a_account_creation',     ###########################
    'b_user_id',              #######################
    'b_follower_count',       #Engaging User Features
    'b_following_count',      #
    'b_is_verified',          #
    'b_account_creation',     #######################
    'b_follows_a',    #################### Engagement Features
    'reply',          #Target Reply
    'retweet',        #Target Retweet    
    'retweet_comment',#Target Retweet with comment
    'like'           #Target Like
                      ####################
]
dv.columns = features
gc.collect()

dv = dv.drop('text_tokens', axis=1)
gc.collect()

dv.head(10)

,hashtags,tweet_id,media,links,domains,tweet_type,language,timestamp,a_user_id,a_follower_count,...,b_user_id,b_follower_count,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like
0,NaN,373C0F43762B7CEC1D75728BE8A33891,NaN,A2CE3A1941BA410A1C31496C355EFCD7,E14AF8A8D257BB47587843FE7D08382B,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1582126349,2A8B6AD2B9D55F535C2441AB673133D2,8791989,...,00000865A1538142CDA5936B07FE4311,65,166,False,1452599043,False,NaN,NaN,NaN,NaN
1,NaN,773A92D9E4824D06105C02BD044BB20A,NaN,NaN,NaN,Quote,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581971193,950A95B81407F33C412E520BE55A1450,666,...,000009A057792FF118B9E3F2578B8407,1814,1314,False,1322868747,True,1.581979e+09,NaN,NaN,NaN
2,NaN,218A6C27871801759F7380D7C41694A6,NaN,5C683B5A29B308CADD0D7EFA7C9C32D3,6717B03E03DEE1D7ACAE37649ACA7BD6,TopLevel,9BF3403E0EB7EA8A256DA9019C0B0716,1582047119,ABB2F7F22C34057BC7B30D627B0C137A,15648678,...,00000DEF82BE9EB5CFD07FB7DB94317B,4,73,False,1573996260,False,NaN,NaN,NaN,NaN
3,NaN,AB817EBA68064A0C8CBF4A6C059D92DC,Photo,E925556EE312213AD98C4D9F131D7A8D,D722330FEBEAAE68B4F4339CE8BD7C70,TopLevel,691890251F2B9FF922BE6D3699ABEFD2,1581554925,03F96C3B7CE2179B6347AA395880C963,490,...,0000109A57AFA64758EE4AAE2A01BFC7,15,124,False,1385502405,True,NaN,NaN,NaN,NaN
4,NaN,349120C1E2801857530393F16D4653A5,NaN,NaN,NaN,TopLevel,9BF3403E0EB7EA8A256DA9019C0B0716,1581568955,E035DCB47CB3DF98C5CD7CFEEC3BC704,364,...,000012366528B5FEE179A9606DBC9826,1226,655,False,1268639592,True,1.581570e+09,NaN,NaN,NaN
5,NaN,9E7728DC559F8D271F014147915E0A66,NaN,27E46E3FE5CEFCAEB4A6DB19E4BE32F4,FCA72262B99BB78F010B25C882A0C93C,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581736337,70E69D1AEB37833C6754AA4EF97191DA,628,...,000012366528B5FEE179A9606DBC9826,1226,655,False,1268639592,True,NaN,NaN,NaN,NaN
6,ACB836ED47233A2696F88FF04063FF82,39798E447383B303DF978B2A0C6B2B9C,Video,NaN,NaN,TopLevel,167115458A0DBDFF7E9C0C53A83BAC9B,1581921171,6FD9FC8D2AE0394DED79EA9FDC9E7623,136006,...,000012A6D58B300B1B4098C86223F76E,1927,1432,False,1368483885,False,NaN,NaN,NaN,1.581936e+09
7,NaN,AC05E6015A5ECC0FA42B80F4974A4A40,Video,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581950883,EED1F733493D53D04E8C6AF94C08DCA0,2440,...,000013315386492275CCBF7AEF293EF0,139,956,False,1335110299,False,NaN,NaN,NaN,1.581953e+09
8,NaN,2EE951379C47E8BF62EABB8FA027F753,GIF,NaN,NaN,TopLevel,2996EB2FE8162C076D070A4C8D6532CD,1581734918,2DEC09796D0EB473244CB7A4FB13A0A0,250470,...,00001569CB28972FC8173122D9DA162F,16,97,False,1503940711,False,NaN,NaN,NaN,NaN
9,NaN,0E2189E024593060A937C2202FC4F2FA,Photo,NaN,NaN,TopLevel,06D61DCBBE938971E1EA0C38BD9B5446,1581872443,846E2989F924CFA50CC1A13DE3EFB655,2042,...,00001628DF9DE700C10DD99F514EFDE0,341,164,False,1308604079,False,NaN,NaN,NaN,1.581873e+09

In [8]:
dv['id']   = np.arange( df.shape[0] , df.shape[0]+dv.shape[0] )
dv['id']   = dv['id'].astype(np.uint32)
print( dv['id'].min() )

dv['reply']   = dv['reply'].fillna(0)
dv['retweet'] = dv['retweet'].fillna(0)
dv['retweet_comment'] = dv['retweet_comment'].fillna(0)
dv['like']    = dv['like'].fillna(0)

dv['reply']           = dv['reply'].astype( np.uint32 )
dv['retweet']         = dv['retweet'].astype( np.uint32 )
dv['retweet_comment'] = dv['retweet_comment'].astype( np.uint32 )
dv['like']            = dv['like'].astype( np.uint32 )

dv['timestamp']         = dv['timestamp'].astype( np.uint32 )
dv['a_follower_count']  = dv['a_follower_count'].astype( np.uint32 )
dv['a_following_count'] = dv['a_following_count'].astype( np.uint32 )
dv['a_account_creation']= dv['a_account_creation'].astype( np.uint32 )
dv['b_follower_count']  = dv['b_follower_count'].astype( np.uint32 )
dv['b_following_count'] = dv['b_following_count'].astype( np.uint32 )
dv['b_account_creation']= dv['b_account_creation'].astype( np.uint32 )
gc.collect()

print(df.shape,dv.shape)
dv.head(10)

106254462
(106254462, 24) (9760684, 24)

,hashtags,tweet_id,media,links,domains,tweet_type,language,timestamp,a_user_id,a_follower_count,...,b_follower_count,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like,id
0,NaN,373C0F43762B7CEC1D75728BE8A33891,NaN,A2CE3A1941BA410A1C31496C355EFCD7,E14AF8A8D257BB47587843FE7D08382B,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1582126349,2A8B6AD2B9D55F535C2441AB673133D2,8791989,...,65,166,False,1452599043,False,0,0,0,0,106254462
1,NaN,773A92D9E4824D06105C02BD044BB20A,NaN,NaN,NaN,Quote,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581971193,950A95B81407F33C412E520BE55A1450,666,...,1814,1314,False,1322868747,True,1581979318,0,0,0,106254463
2,NaN,218A6C27871801759F7380D7C41694A6,NaN,5C683B5A29B308CADD0D7EFA7C9C32D3,6717B03E03DEE1D7ACAE37649ACA7BD6,TopLevel,9BF3403E0EB7EA8A256DA9019C0B0716,1582047119,ABB2F7F22C34057BC7B30D627B0C137A,15648678,...,4,73,False,1573996260,False,0,0,0,0,106254464
3,NaN,AB817EBA68064A0C8CBF4A6C059D92DC,Photo,E925556EE312213AD98C4D9F131D7A8D,D722330FEBEAAE68B4F4339CE8BD7C70,TopLevel,691890251F2B9FF922BE6D3699ABEFD2,1581554925,03F96C3B7CE2179B6347AA395880C963,490,...,15,124,False,1385502405,True,0,0,0,0,106254465
4,NaN,349120C1E2801857530393F16D4653A5,NaN,NaN,NaN,TopLevel,9BF3403E0EB7EA8A256DA9019C0B0716,1581568955,E035DCB47CB3DF98C5CD7CFEEC3BC704,364,...,1226,655,False,1268639592,True,1581570171,0,0,0,106254466
5,NaN,9E7728DC559F8D271F014147915E0A66,NaN,27E46E3FE5CEFCAEB4A6DB19E4BE32F4,FCA72262B99BB78F010B25C882A0C93C,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581736337,70E69D1AEB37833C6754AA4EF97191DA,628,...,1226,655,False,1268639592,True,0,0,0,0,106254467
6,ACB836ED47233A2696F88FF04063FF82,39798E447383B303DF978B2A0C6B2B9C,Video,NaN,NaN,TopLevel,167115458A0DBDFF7E9C0C53A83BAC9B,1581921171,6FD9FC8D2AE0394DED79EA9FDC9E7623,136006,...,1927,1432,False,1368483885,False,0,0,0,1581936095,106254468
7,NaN,AC05E6015A5ECC0FA42B80F4974A4A40,Video,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581950883,EED1F733493D53D04E8C6AF94C08DCA0,2440,...,139,956,False,1335110299,False,0,0,0,1581953470,106254469
8,NaN,2EE951379C47E8BF62EABB8FA027F753,GIF,NaN,NaN,TopLevel,2996EB2FE8162C076D070A4C8D6532CD,1581734918,2DEC09796D0EB473244CB7A4FB13A0A0,250470,...,16,97,False,1503940711,False,0,0,0,0,106254470
9,NaN,0E2189E024593060A937C2202FC4F2FA,Photo,NaN,NaN,TopLevel,06D61DCBBE938971E1EA0C38BD9B5446,1581872443,846E2989F924CFA50CC1A13DE3EFB655,2042,...,341,164,False,1308604079,False,0,0,0,1581872926,106254471

In [9]:
dt = pd.read_csv('/home/pinto/test.tsv', sep='\x01', header=None, dtype=DTYPES )
gc.collect()
dt.shape

(9765321, 24)

In [10]:
dt.columns = features
gc.collect()

dt = dt.drop('text_tokens', axis=1)
gc.collect()

dt.head(10)

,hashtags,tweet_id,media,links,domains,tweet_type,language,timestamp,a_user_id,a_follower_count,...,b_user_id,b_follower_count,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like
0,NaN,04746004AA1F5498834CE7A4C6343D1A,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581759640,6720CC7830F94CB7465CA283300DB010,119,...,00000776B07587ECA9717BFC301F2D6E,111,673,False,1478011810,True,NaN,NaN,NaN,1.581775e+09
1,024FE90EC2C01B3CDC46A5A90D66B020\t1B78BDD9C7FF...,B5C4CBE185831F3E5A58A4D81118D4C7,NaN,NaN,NaN,Retweet,22C448FF81263D4BAF2A176145EE9EAD,1581668217,7DDC67265CFB6E0B4820E0BD0E33A8D3,189,...,00000776B07587ECA9717BFC301F2D6E,111,673,False,1478011810,True,NaN,NaN,NaN,1.581684e+09
2,NaN,8747BA89E3245FE4097C9E4E0AE40862,Video,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581876000,1C0B9850DE2A34BA8B8DF413F5C13233,405907,...,0000109A57AFA64758EE4AAE2A01BFC7,15,123,False,1385502405,False,NaN,NaN,NaN,NaN
3,NaN,1CD2139E249349CBD5A0576D163C5EF8,Photo,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581646803,94FBB99CE36D7A152DABA57CEF62F75E,111841,...,000013315386492275CCBF7AEF293EF0,141,955,False,1335110299,False,NaN,NaN,NaN,NaN
4,9533703A3BB1CBA49AC0547C4A9F8043\t4C57C1D9063D...,BDFA89609AC3EDDE250DCECD964B5890,Photo,NaN,NaN,Retweet,22C448FF81263D4BAF2A176145EE9EAD,1581623428,311BB1E051070C2639BC632ECDE69C43,3577,...,000013315386492275CCBF7AEF293EF0,139,953,False,1335110299,False,NaN,NaN,NaN,NaN
5,NaN,E37C3C7061D6CA71C4B985F7B03F0B77,NaN,NaN,NaN,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581970339,4C45397E485B2D377319D0CB7AD239FE,574485,...,00001607209C5774DF9207A2AC0EED5F,460,693,False,1396311956,False,NaN,NaN,NaN,NaN
6,NaN,611F12D185CEEA53AB8091EE1D6E97A1,NaN,EC7145E989A8E1A36CE6A613F90F5CFF,5A821C3382573BB942D665BC073A51C5,TopLevel,06D61DCBBE938971E1EA0C38BD9B5446,1581897943,8066B7DEF695BE18D9C3E2710685356D,4932583,...,00001628DF9DE700C10DD99F514EFDE0,341,164,False,1308604079,False,NaN,NaN,NaN,NaN
7,C3835E596E2D3C4059E11DD4EBA87232\tAE3E41A10FB5...,997DFF5AC0A547DAADD37591D6831B5B,Photo,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581878093,3E03352132888EAFE317B7EC97B9EFD7,250,...,00001B2BEF16B99227942518CE7FD918,69,271,False,1519663743,True,NaN,NaN,NaN,1.581900e+09
8,NaN,4E2C9CE953B44BA4B5162EE46EE30D4A,Photo,NaN,NaN,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,1582009355,8B4F7CA1C5D164A438DCB09C476DEAD6,1478,...,00001BC70532632181F17B2A65EFD2BA,118,959,False,1424527389,False,NaN,NaN,NaN,NaN
9,NaN,05E25C5F9E461D4A299544C845C15D99,NaN,NaN,NaN,Retweet,22C448FF81263D4BAF2A176145EE9EAD,1582062733,779B6BEBBBE8773C3BE2D476CC59685D,168,...,000021FC58BF288D1229BAE55FEEC426,152,216,False,1497868834,True,NaN,NaN,NaN,1.582082e+09

In [11]:
dt['id']   = np.arange( df.shape[0]+dv.shape[0] , df.shape[0]+dv.shape[0]+dt.shape[0] )
dt['id']   = dt['id'].astype(np.uint32)
print( dt['id'].min() )

dt['reply']   = dt['reply'].fillna(0)
dt['retweet'] = dt['retweet'].fillna(0)
dt['retweet_comment'] = dt['retweet_comment'].fillna(0)
dt['like']    = dt['like'].fillna(0)

dt['reply']           = dt['reply'].astype( np.uint32 )
dt['retweet']         = dt['retweet'].astype( np.uint32 )
dt['retweet_comment'] = dt['retweet_comment'].astype( np.uint32 )
dt['like']            = dt['like'].astype( np.uint32 )

dt['timestamp']         = dt['timestamp'].astype( np.uint32 )
dt['a_follower_count']  = dt['a_follower_count'].astype( np.uint32 )
dt['a_following_count'] = dt['a_following_count'].astype( np.uint32 )
dt['a_account_creation']= dt['a_account_creation'].astype( np.uint32 )
dt['b_follower_count']  = dt['b_follower_count'].astype( np.uint32 )
dt['b_following_count'] = dt['b_following_count'].astype( np.uint32 )
dt['b_account_creation']= dt['b_account_creation'].astype( np.uint32 )
gc.collect()

print(df.shape,dv.shape,dt.shape)
dt.head()

116015146
(106254462, 24) (9760684, 24) (9765321, 24)

,hashtags,tweet_id,media,links,domains,tweet_type,language,timestamp,a_user_id,a_follower_count,...,b_follower_count,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like,id
0,NaN,04746004AA1F5498834CE7A4C6343D1A,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581759640,6720CC7830F94CB7465CA283300DB010,119,...,111,673,False,1478011810,True,0,0,0,1581774852,116015146
1,024FE90EC2C01B3CDC46A5A90D66B020\t1B78BDD9C7FF...,B5C4CBE185831F3E5A58A4D81118D4C7,NaN,NaN,NaN,Retweet,22C448FF81263D4BAF2A176145EE9EAD,1581668217,7DDC67265CFB6E0B4820E0BD0E33A8D3,189,...,111,673,False,1478011810,True,0,0,0,1581684450,116015147
2,NaN,8747BA89E3245FE4097C9E4E0AE40862,Video,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581876000,1C0B9850DE2A34BA8B8DF413F5C13233,405907,...,15,123,False,1385502405,False,0,0,0,0,116015148
3,NaN,1CD2139E249349CBD5A0576D163C5EF8,Photo,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581646803,94FBB99CE36D7A152DABA57CEF62F75E,111841,...,141,955,False,1335110299,False,0,0,0,0,116015149
4,9533703A3BB1CBA49AC0547C4A9F8043\t4C57C1D9063D...,BDFA89609AC3EDDE250DCECD964B5890,Photo,NaN,NaN,Retweet,22C448FF81263D4BAF2A176145EE9EAD,1581623428,311BB1E051070C2639BC632ECDE69C43,3577,...,139,953,False,1335110299,False,0,0,0,0,116015150

In [12]:
train_size = df.shape[0]
test0_size = dv.shape[0]
test1_size = dt.shape[0]
print(train_size,test0_size,test1_size)

106254462 9760684 9765321

In [13]:
df['tr'] = 0
dv['tr'] = 1
dt['tr'] = 2

In [14]:
gc.collect()
df = pd.concat( (df,dv,dt), sort=False )
gc.collect()
del dv, dt
gc.collect()
df.shape

(125780467, 25)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125780467 entries, 0 to 9765320
Data columns (total 25 columns):
 #   Column              Dtype
---  ------              -----
 0   hashtags            object
 1   tweet_id            object
 2   media               object
 3   links               object
 4   domains             object
 5   tweet_type          object
 6   language            object
 7   timestamp           uint32
 8   a_user_id           object
 9   a_follower_count    uint32
 10  a_following_count   uint32
 11  a_is_verified       bool
 12  a_account_creation  uint32
 13  b_user_id           object
 14  b_follower_count    uint32
 15  b_following_count   uint32
 16  b_is_verified       bool
 17  b_account_creation  uint32
 18  b_follows_a         bool
 19  reply               uint32
 20  retweet             uint32
 21  retweet_comment     uint32
 22  like                uint32
 23  id                  uint32
 24  tr                  int64
dtypes: bool(3), int64(1), object(9), uint32(12)
memory usage: 16.3+ GB

In [16]:
df.tail(10)

,hashtags,tweet_id,media,links,domains,tweet_type,language,timestamp,a_user_id,a_follower_count,...,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like,id,tr
9765311,NaN,49D06B7B25F2891542A1692AEE5EDA27,NaN,NaN,NaN,Quote,D3164C7FBCF2565DDF915B1B3AEFB1DC,1582001186,0908B0B4B30F39B392D348A3D0B5B883,71562,...,289,False,1466966626,False,0,0,0,1582001700,125780457,2
9765312,NaN,CB7E305F339C8C604BADD29AD0B4A276,NaN,NaN,NaN,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,1582091134,004939ED381AE2DCFFC735AE48425342,17747,...,129,False,1272381192,False,0,0,0,0,125780458,2
9765313,F2AA2F668B2C6FF79297EB03A516166A\t503DAE37FD19...,288E26E4E983D23A5639335E96CA14B4,NaN,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581860730,B67BFFDD6A97614378EC04C6E57704D8,93812,...,57,False,1235182992,False,0,0,0,0,125780459,2
9765314,NaN,B681F1137F24971FA9C153CC256212F9,Video,NaN,NaN,Retweet,125C57F4FA6D4E110983FB11B52EFD4E,1582086464,8715B7C84D2E77AC31EB5B0BAF8FB0D3,4386,...,57,False,1235182992,False,0,0,0,1582091916,125780460,2
9765315,04227C4C2E4C1A14E13EF0C7B3894AB1,58E451678D0FF0014AD377261D75659E,Photo\tPhoto,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1582095589,917DEBB7A2B48B906FF714DCEB1A59D9,17868,...,364,False,1487470930,False,0,0,0,1582102157,125780461,2
9765316,7CC582B5E93DAB72F49B1D55DDCBAE5C\t94544EA41F16...,1DE753655C87ED4967C77828C3DABBBC,Photo,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581719195,99B74BFC050ECB4D790DAA4BB9BEB02B,1472,...,464,False,1501554925,True,0,0,0,1581726864,125780462,2
9765317,1F6D05BCF068D59C3CDC1F935C6DB93D,35987A6210FA9198459C3BAC3E7F4BB7,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581665518,F550D42637822CD1027AAB3B67B36602,4236,...,464,False,1501554925,True,0,0,0,1581667126,125780463,2
9765318,NaN,35FC4F476F964FAEDEF90A312785A6D8,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581602829,9D711439C5AD0B1A803A95D57704AE96,1943,...,464,False,1501554925,True,0,0,0,1581604985,125780464,2
9765319,DE848668D8312219F01B8561959BBC0B\tBB6FBD3AFF96...,51F302BA69281EC368CAB7D841582A7A,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581722172,4C9B91B8FBF84CEDD32B737546F99D19,4884,...,464,False,1501554925,True,0,0,0,1581726745,125780465,2
9765320,NaN,E1DDA1AB250AAFE9FBA23C5794132691,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581813247,1F2B64DF1575967B1778A3CC06CDEDCA,309,...,464,False,1501554925,True,0,0,0,1581813372,125780466,2

In [17]:
df['media'] = df['media'].fillna( '' )
gc.collect()
df['media'] = df['media'].apply( lambda x:  '_'.join(x.split('\t')[:2]) )
gc.collect()

df['language'] = pd.factorize( df['language'], sort=True )[0]
gc.collect()
df['language'] = df['language'].astype( np.uint8 )
gc.collect()

df['tweet_type'] = pd.factorize( df['tweet_type'], sort=True )[0]
gc.collect()
df['tweet_type'] = df['tweet_type'].astype( np.uint8 )
gc.collect()

df['media'] = pd.factorize( df['media'], sort=True )[0]
gc.collect()
df['media'] = df['media'].astype( np.uint8 )
gc.collect()

0

In [18]:
df.head()

,hashtags,tweet_id,media,links,domains,tweet_type,language,timestamp,a_user_id,a_follower_count,...,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like,id,tr
0,A3D61C03DBCE2F920350379414E0048B\t867E9AB76EFF...,29083D10151BD72E2459635EA38AC8B3,5,NaN,NaN,2,11,1581472519,DA64544DF9826E9F284F4FF6CE624F7A,11005,...,6,False,1568940527,True,0,0,0,0,0,0
1,NaN,D717A0A251D46C3382D55CA36DDC7F33,0,NaN,NaN,0,59,1581124265,2D17D33032F1DFFAA740384DFE68C7BB,425,...,185,False,1541013180,True,0,0,0,1581174423,1,0
2,NaN,2B880E288129B67CF644D6123C923EBF,0,NaN,NaN,2,38,1581166895,092FBF2F7989B4B817428B4AD44DCD37,298336,...,72,False,1573996260,False,0,0,0,1581201675,2,0
3,NaN,AE9DD310CF14AFD4F1A95902521FF132,0,NaN,NaN,2,11,1581375781,054BA689B31AEFD429EE2DED113F92DA,1115,...,440,False,1432084055,True,0,0,0,1581437254,3,0
4,NaN,E5A28F213A16FF06D0CEE628F9A01E16,0,NaN,NaN,1,54,1580996019,B28168B03223509298F983523265035C,63473,...,32,False,1490688761,False,0,0,0,0,4,0

In [19]:
gc.collect()
uid = pd.factorize( np.concatenate( ( df['a_user_id'].values, df['b_user_id'].values ) ) )[0]
gc.collect()
uid = uid.astype( np.uint32 )
gc.collect()
len(uid)

df['a_user_id'] = uid[:df.shape[0] ]
gc.collect()
df['b_user_id'] = uid[ df.shape[0]:]
gc.collect()
del uid
gc.collect()

0

In [20]:
df['tweet_id'] = pd.factorize( df['tweet_id'] )[0]
gc.collect()
df['tweet_id'] = df['tweet_id'].astype( np.uint32 )
gc.collect()

0

In [21]:
df.head()

,hashtags,tweet_id,media,links,domains,tweet_type,language,timestamp,a_user_id,a_follower_count,...,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like,id,tr
0,A3D61C03DBCE2F920350379414E0048B\t867E9AB76EFF...,0,5,NaN,NaN,2,11,1581472519,0,11005,...,6,False,1568940527,True,0,0,0,0,0,0
1,NaN,1,0,NaN,NaN,0,59,1581124265,1,425,...,185,False,1541013180,True,0,0,0,1581174423,1,0
2,NaN,2,0,NaN,NaN,2,38,1581166895,2,298336,...,72,False,1573996260,False,0,0,0,1581201675,2,0
3,NaN,3,0,NaN,NaN,2,11,1581375781,3,1115,...,440,False,1432084055,True,0,0,0,1581437254,3,0
4,NaN,4,0,NaN,NaN,1,54,1580996019,4,63473,...,32,False,1490688761,False,0,0,0,0,4,0

In [22]:
df.to_pickle('tmp.pkl')
gc.collect()
#Restart Kernel here to release RAM memory

0