Copyright (c) 2020, NVIDIA CORPORATION.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

In [5]:
import os, time
start = time.time()

In [6]:
import pandas as pd, numpy as np, gc
from datetime import datetime
import joblib

import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [7]:
from numba import jit, njit, prange
from sklearn.metrics import precision_recall_curve, auc, log_loss

def compute_prauc(gt, pred, nafill=True):
    if nafill:
        pred[ np.isnan(pred) ] = np.nanmean( pred )
    prec, recall, thresh = precision_recall_curve(gt, pred)
    prauc = auc(recall, prec)
    return prauc

@jit
def fast_auc(y_true, y_prob):
    y_true = np.asarray(y_true)
    y_true = y_true[np.argsort(y_prob)]
    nfalse = 0
    auc = 0
    n = len(y_true)
    for i in range(n):
        y_i = y_true[i]
        nfalse += (1 - y_i)
        auc += y_i * nfalse
    auc /= (nfalse * (n - nfalse))
    return auc

@njit
def numba_log_loss(y,x):
    n = x.shape[0]
    ll = 0.
    for i in prange(n):
        if y[i]<=0.:
            ll += np.log(1-x[i] + 1e-15 )
        else:
            ll += np.log(x[i] + 1e-15)
    return -ll / n

def compute_rce(gt , pred, nafill=True, verbose=0):
    if nafill:
        pred[ np.isnan(pred) ] = np.nanmean( pred )
        
    cross_entropy = numba_log_loss( gt, pred  )
    
    yt = np.mean(gt>0)     
    strawman_cross_entropy = -(yt*np.log(yt) + (1 - yt)*np.log(1 - yt))
    
    if verbose:
        print( "logloss: {0:.5f} / {1:.5f} = {2:.5f}".format(cross_entropy, strawman_cross_entropy, cross_entropy/strawman_cross_entropy))
        print( 'mean:    {0:.5f} / {1:.5f}'.format( np.nanmean( pred ) , yt  ) )
    
    return (1.0 - cross_entropy/strawman_cross_entropy)*100.0

In [8]:
def save_memory( df ):
    features = df.columns
    for i in range( df.shape[1] ):
        if df.dtypes[i] == 'uint8':
            df[features[i]] = df[features[i]].astype( np.int8 )
            gc.collect()
        elif df.dtypes[i] == 'bool':
            df[features[i]] = df[features[i]].astype( np.int8 )
            gc.collect()
        elif df.dtypes[i] == 'uint32':
            df[features[i]] = df[features[i]].astype( np.int32 )
            gc.collect()
        elif df.dtypes[i] == 'int64':
            df[features[i]] = df[features[i]].astype( np.int32 )
            gc.collect()
        elif df.dtypes[i] == 'float64':
            df[features[i]] = df[features[i]].astype( np.float32 )
            gc.collect()

# Load Train

In [9]:
train = pd.read_parquet( 'train.parquet' )
test0 = pd.read_parquet( 'valid.parquet' )
test1 = pd.read_parquet( 'test.parquet' )
gc.collect()

train['tr'] = 0
test0['tr'] = 1
test1['tr'] = 1

train.shape, test0.shape, test1.shape

((106723416, 28), (9811488, 28), (9815713, 28))

In [10]:
train = pd.concat( (train,test0,test1), sort=False )
gc.collect()
del test0,test1
gc.collect()

train.shape

(126350617, 28)

In [11]:
%%time
train = train.sort_values('timestamp').reset_index(drop=True) #TIME ORDER
gc.collect()

CPU times: user 1min 30s, sys: 15 s, total: 1min 45s
Wall time: 1min 45s

0

In [12]:
train.loc[ train.reply>0, 'reply' ] = 1
train.loc[ train.retweet>0, 'retweet' ] = 1
train.loc[ train.retweet_comment>0, 'retweet_comment' ] = 1
train.loc[ train.like>0, 'like' ] = 1

train['engage'] = 0
train.loc[ (train.reply>0)|(train.retweet>0)|(train.retweet_comment>0)|(train.like>0)  , 'engage'] = 1
gc.collect()

0

In [13]:
train.head()

,timestamp,a_follower_count,a_following_count,a_is_verified,a_account_creation,b_follower_count,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like,id,language,tweet_type,media,tweet_id,a_user_id,b_user_id,len_hashtags,len_domains,len_links,domains,links,hashtags,tr,engage
0,1580947200,438860,159,True,1480270328,63,351,False,1505350202,False,0,0,0,0,78208872,54,2,12,13853657,13488905,4009871,1,1,1,266516,4141906,191970,0,0
1,1580947200,2828662,217,True,1244233304,37,43,False,1573587136,False,0,0,0,0,83895315,59,2,4,30382844,4768532,20049830,0,1,1,103730,2712364,0,0,0
2,1580947200,9794149,90,True,1321282652,0,36,False,1574692024,False,0,0,0,0,8177999,54,2,4,46335397,17612981,25428544,0,0,0,0,0,0,0,0
3,1580947200,7230468,758,True,1184948409,408,231,False,1289164476,False,0,0,0,0,92868826,3,2,12,56738631,22760498,26051552,0,1,1,115975,2460396,0,0,0
4,1580947200,53032,12,True,1530316237,2,68,False,1541192342,False,0,0,0,0,4824533,54,2,8,56380015,24605653,975650,0,0,0,0,0,0,0,0

In [14]:
save_memory(train)
gc.collect()

0

In [15]:
train.dtypes

timestamp             int32
a_follower_count      int32
a_following_count     int32
a_is_verified          int8
a_account_creation    int32
b_follower_count      int32
b_following_count     int32
b_is_verified          int8
b_account_creation    int32
b_follows_a            int8
reply                 int32
retweet               int32
retweet_comment       int32
like                  int32
id                    int32
language               int8
tweet_type             int8
media                  int8
tweet_id              int32
a_user_id             int32
b_user_id             int32
len_hashtags          int32
len_domains           int32
len_links             int32
domains               int32
links                 int32
hashtags              int32
tr                    int32
engage                int32
dtype: object

In [16]:
dt0 = train[['tr','a_user_id','a_follower_count','a_following_count','timestamp','id']].copy()
dt1 = train[['tr','b_user_id','b_follower_count','b_following_count','timestamp','id']].copy()
dt1.columns = ['tr','a_user_id','a_follower_count','a_following_count','timestamp','id']
dt1['id'] = -1
dt = pd.concat( (dt0,dt1), sort=False )
del dt0,dt1; _=gc.collect()
dt.head()

   tr  a_user_id  a_follower_count  a_following_count   timestamp        id
0   0   13488905            438860                159  1580947200  78208872
1   0    4768532           2828662                217  1580947200  83895315
2   0   17612981           9794149                 90  1580947200   8177999
3   0   22760498           7230468                758  1580947200  92868826
4   0   24605653             53032                 12  1580947200   4824533

In [17]:
%%time
dt['a_fc_max'] = dt.groupby(['tr','a_user_id','a_follower_count'])['timestamp'].transform('max'); _=gc.collect()
dt['a_fc_min'] = dt.groupby(['tr','a_user_id','a_follower_count'])['timestamp'].transform('min'); _=gc.collect()

dt['a_fc_dif'] = dt['a_fc_max'] - dt['a_fc_min']; _=gc.collect()

dt['a_fc_dif_max'] = dt.groupby(['tr','a_user_id'])['a_fc_dif'].transform('max'); _=gc.collect()

dt['a_fc_dif_flag'] = 1* ((dt['a_fc_dif'] == dt['a_fc_dif_max']) )  ; _=gc.collect()
dt.loc[ dt.a_fc_dif==0 ,'a_fc_dif_flag'] = -1

del dt['a_fc_max'],dt['a_fc_min'],dt['a_fc_dif'],dt['a_fc_dif_max'] ; _=gc.collect()
dt['a_fc_dif_flag'].value_counts()

CPU times: user 5min 55s, sys: 46 s, total: 6min 41s
Wall time: 6min 41s

 1    168330593
 0     54991842
-1     29378799
Name: a_fc_dif_flag, dtype: int64

In [18]:
train['a_user_fer_count_delta_time'] = train.merge( dt, on='id', how='left' )['a_fc_dif_flag'] ; _=gc.collect()

del dt['a_fc_dif_flag'] ; _=gc.collect()

train['a_user_fer_count_delta_time'].value_counts()

 1    71960799
 0    41783581
-1    12606237
Name: a_user_fer_count_delta_time, dtype: int64

In [19]:
train.groupby(['tr','a_user_fer_count_delta_time'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                                   reply   retweet retweet_comment      like
                                    mean      mean            mean      mean
tr a_user_fer_count_delta_time
0  -1                           0.024673  0.106663        0.006928  0.431959
    0                           0.024845  0.107117        0.006964  0.434257
    1                           0.024677  0.105458        0.006942  0.424089
1  -1                           0.000000  0.000000        0.000000  0.000000
    0                           0.000000  0.000000        0.000000  0.000000
    1                           0.000000  0.000000        0.000000  0.000000

In [20]:
%%time
dt['a_fc_max'] = dt.groupby(['tr','a_user_id','a_following_count'])['timestamp'].transform('max'); _=gc.collect()
dt['a_fc_min'] = dt.groupby(['tr','a_user_id','a_following_count'])['timestamp'].transform('min'); _=gc.collect()

dt['a_fc_dif'] = dt['a_fc_max'] - dt['a_fc_min']; _=gc.collect()

dt['a_fc_dif_max'] = dt.groupby(['tr','a_user_id'])['a_fc_dif'].transform('max'); _=gc.collect()

dt['a_fc_dif_flag'] = 1* ((dt['a_fc_dif'] == dt['a_fc_dif_max']) )  ; _=gc.collect()
dt.loc[ dt.a_fc_dif==0 ,'a_fc_dif_flag'] = -1

del dt['a_fc_max'],dt['a_fc_min'],dt['a_fc_dif'],dt['a_fc_dif_max'] ; _=gc.collect()
dt['a_fc_dif_flag'].value_counts()

CPU times: user 5min 49s, sys: 44.2 s, total: 6min 33s
Wall time: 6min 33s

 1    182423773
 0     40959468
-1     29317993
Name: a_fc_dif_flag, dtype: int64

In [21]:
train['a_user_fing_count_delta_time'] = train.merge( dt, on='id', how='left' )['a_fc_dif_flag'] ; _=gc.collect()

del dt['a_fc_dif_flag'] ; _=gc.collect()

train['a_user_fing_count_delta_time'].value_counts()

 1    89384386
 0    26810151
-1    10156080
Name: a_user_fing_count_delta_time, dtype: int64

In [22]:
train.groupby(['tr','a_user_fing_count_delta_time'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                                    reply   retweet retweet_comment      like
                                     mean      mean            mean      mean
tr a_user_fing_count_delta_time
0  -1                            0.024624  0.106455        0.006939  0.431908
    0                            0.024741  0.106891        0.006938  0.435143
    1                            0.024742  0.105861        0.006953  0.425745
1  -1                            0.000000  0.000000        0.000000  0.000000
    0                            0.000000  0.000000        0.000000  0.000000
    1                            0.000000  0.000000        0.000000  0.000000

In [23]:
%%time
dt['a_fc_max'] = dt.groupby(['tr','a_user_id','a_follower_count','a_following_count'])['timestamp'].transform('max'); _=gc.collect()
dt['a_fc_min'] = dt.groupby(['tr','a_user_id','a_follower_count','a_following_count'])['timestamp'].transform('min'); _=gc.collect()

dt['a_fc_dif'] = dt['a_fc_max'] - dt['a_fc_min']; _=gc.collect()

dt['a_fc_dif_max'] = dt.groupby(['tr','a_user_id'])['a_fc_dif'].transform('max'); _=gc.collect()

dt['a_fc_dif_flag'] = 1* ((dt['a_fc_dif'] == dt['a_fc_dif_max']) )  ; _=gc.collect()
dt.loc[ dt.a_fc_dif==0 ,'a_fc_dif_flag'] = -1

del dt['a_fc_max'],dt['a_fc_min'],dt['a_fc_dif'],dt['a_fc_dif_max'] ; _=gc.collect()
dt['a_fc_dif_flag'].value_counts()

CPU times: user 6min 28s, sys: 48.8 s, total: 7min 16s
Wall time: 7min 17s

 1    155319323
 0     57334326
-1     40047585
Name: a_fc_dif_flag, dtype: int64

In [24]:
train['a_user_fering_count_delta_time'] = train.merge( dt, on='id', how='left' )['a_fc_dif_flag'] ; _=gc.collect()

del dt['a_fc_dif_flag'] ; _=gc.collect()

train['a_user_fering_count_delta_time'].value_counts()

 1    70226253
 0    41983233
-1    14141131
Name: a_user_fering_count_delta_time, dtype: int64

In [25]:
train.groupby(['tr','a_user_fering_count_delta_time'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                                      reply   retweet retweet_comment  \
                                       mean      mean            mean
tr a_user_fering_count_delta_time
0  -1                              0.024678  0.106771        0.006938
    0                              0.024842  0.107138        0.006971
    1                              0.024677  0.105393        0.006937
1  -1                              0.000000  0.000000        0.000000
    0                              0.000000  0.000000        0.000000
    1                              0.000000  0.000000        0.000000

                                       like
                                       mean
tr a_user_fering_count_delta_time
0  -1                              0.432342
    0                              0.434270
    1                              0.423803
1  -1                              0.000000
    0                              0.000000
    1                              0.000000

In [26]:
%%time
dt['a_fc_count'] = dt.groupby(['tr','a_user_id','a_following_count'])['id'].transform('count'); _=gc.collect()
dt['a_fc_max']   = dt.groupby(['tr','a_user_id'])['a_fc_count'].transform('max'); _=gc.collect()
dt['a_fc_count_flag'] = 1* ((dt['a_fc_count'] == dt['a_fc_max']))  ; _=gc.collect()
dt.loc[ dt.a_fc_count<=1,'a_fc_count_flag'] = -1

del dt['a_fc_count'], dt['a_fc_max']
dt['a_fc_count_flag'].value_counts()

CPU times: user 3min 42s, sys: 26.5 s, total: 4min 9s
Wall time: 4min 9s

 1    189320859
 0     35481218
-1     27899157
Name: a_fc_count_flag, dtype: int64

In [27]:
train['a_user_fing_count_mode'] = train.merge( dt, on='id', how='left' )['a_fc_count_flag'] ; _=gc.collect()
del dt['a_fc_count_flag'] ; _=gc.collect()
train['a_user_fing_count_mode'].value_counts()

 1    92456564
 0    25205378
-1     8688675
Name: a_user_fing_count_mode, dtype: int64

In [28]:
train.groupby(['tr','a_user_fing_count_mode'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                              reply   retweet retweet_comment      like
                               mean      mean            mean      mean
tr a_user_fing_count_mode
0  -1                      0.024709  0.106580        0.006947  0.431366
    0                      0.024723  0.106605        0.006942  0.433759
    1                      0.024739  0.105961        0.006951  0.426445
1  -1                      0.000000  0.000000        0.000000  0.000000
    0                      0.000000  0.000000        0.000000  0.000000
    1                      0.000000  0.000000        0.000000  0.000000

In [29]:
%%time
dt['a_fc_count'] = dt.groupby(['tr','a_user_id','a_follower_count'])['id'].transform('count'); _=gc.collect()
dt['a_fc_max']   = dt.groupby(['tr','a_user_id'])['a_fc_count'].transform('max'); _=gc.collect()
dt['a_fc_count_flag'] = 1* ((dt['a_fc_count'] == dt['a_fc_max']))  ; _=gc.collect()
dt.loc[ dt.a_fc_count<=1,'a_fc_count_flag'] = -1

del dt['a_fc_count'], dt['a_fc_max']
dt['a_fc_count_flag'].value_counts()

CPU times: user 3min 45s, sys: 26.3 s, total: 4min 11s
Wall time: 4min 11s

 1    174484263
 0     51461287
-1     26755684
Name: a_fc_count_flag, dtype: int64

In [30]:
train['a_user_fer_count_mode'] = train.merge( dt, on='id', how='left' )['a_fc_count_flag'] ; _=gc.collect()
del dt['a_fc_count_flag'] ; _=gc.collect()
train['a_user_fer_count_mode'].value_counts()

 1    74842482
 0    41649512
-1     9858623
Name: a_user_fer_count_mode, dtype: int64

In [31]:
train.groupby(['tr','a_user_fer_count_mode'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                             reply   retweet retweet_comment      like
                              mean      mean            mean      mean
tr a_user_fer_count_mode
0  -1                     0.024733  0.106725        0.006915  0.431278
    0                     0.024847  0.107024        0.006962  0.433781
    1                     0.024669  0.105551        0.006944  0.424737
1  -1                     0.000000  0.000000        0.000000  0.000000
    0                     0.000000  0.000000        0.000000  0.000000
    1                     0.000000  0.000000        0.000000  0.000000

In [32]:
%%time
dt['a_fc_count'] = dt.groupby(['tr','a_user_id','a_follower_count','a_following_count'])['id'].transform('count'); _=gc.collect()
dt['a_fc_max']   = dt.groupby(['tr','a_user_id'])['a_fc_count'].transform('max'); _=gc.collect()
dt['a_fc_count_flag'] = 1* ((dt['a_fc_count'] == dt['a_fc_max']))  ; _=gc.collect()
dt.loc[ dt.a_fc_count<=1,'a_fc_count_flag'] = -1

del dt['a_fc_count'], dt['a_fc_max']
dt['a_fc_count_flag'].value_counts()

CPU times: user 3min 58s, sys: 28.7 s, total: 4min 27s
Wall time: 4min 27s

 1    162510206
 0     52931747
-1     37259281
Name: a_fc_count_flag, dtype: int64

In [33]:
train['a_user_fering_count_mode'] = train.merge( dt, on='id', how='left' )['a_fc_count_flag'] ; _=gc.collect()
del dt['a_fc_count_flag'] ; _=gc.collect()
train['a_user_fering_count_mode'].value_counts()

 1    73102990
 0    41947310
-1    11300317
Name: a_user_fering_count_mode, dtype: int64

In [34]:
train.groupby(['tr','a_user_fering_count_mode'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                                reply   retweet retweet_comment      like
                                 mean      mean            mean      mean
tr a_user_fering_count_mode
0  -1                        0.024733  0.106831        0.006933  0.431824
    0                        0.024840  0.107031        0.006967  0.433806
    1                        0.024671  0.105504        0.006940  0.424478
1  -1                        0.000000  0.000000        0.000000  0.000000
    0                        0.000000  0.000000        0.000000  0.000000
    1                        0.000000  0.000000        0.000000  0.000000

In [35]:
del dt; _=gc.collect()

In [36]:
train['a_count_combined'] = pd.factorize(
    (1+train['a_user_fer_count_delta_time'])*3**0 +
    (1+train['a_user_fing_count_delta_time'])*3**1 +
    (1+train['a_user_fering_count_delta_time'])*3**2 +
    (1+train['a_user_fing_count_mode'])*3**3 +
    (1+train['a_user_fer_count_mode'])*3**4 +
    (1+train['a_user_fering_count_mode'])*3**5 
)[0]
train['a_count_combined'].value_counts()

3      66991766
0      20387443
1      15273172
15      7602051
9       2033543
16      1561398
4       1191337
6       1088480
5       1062254
31       924708
2        822177
35       703491
14       699061
10       629797
23       510132
13       444927
36       419450
12       398809
8        309550
29       287107
25       280533
11       242631
34       218248
53       201779
20       185429
32       157232
27       104155
59        95363
28        92965
7         80155
50        77484
46        70525
42        67542
17        62926
19        59986
52        56691
61        53284
75        45573
54        44418
21        40930
24        40587
55        40223
40        36739
44        36577
39        35814
41        34691
57        32732
48        31839
89        28205
22        26392
79        23569
45        22445
72        22333
71        20863
63        18500
51        16562
49        16330
92        16267
78        14362
81        13903
64        13504
65        11793
69        10684
60        10538
67        10501
47        10130
26        10010
43         9640
76         9630
86         9208
73         9049
70         7988
83         7636
94         6049
80         5907
88         5647
100        5403
38         5264
68         5201
66         4392
33         4187
90         3952
120        3618
84         3484
18         3312
85         3271
97         3219
95         3009
99         2741
93         2421
77         2260
91         2241
87         2208
56         2149
101        2052
58         1954
96         1868
98         1759
105        1554
118        1425
62         1409
74         1387
108        1369
116        1280
114        1113
121        1084
126        1027
129         891
123         746
117         732
128         694
103         685
115         672
127         575
102         559
119         545
144         510
132         503
106         496
125         496
37          451
112         445
135         422
137         362
30          331
104         330
110         322
113         298
134         288
107         279
82          277
111         271
145         252
142         167
143         142
122         111
148          96
157          67
131          63
138          58
140          54
133          53
149          52
139          51
154          39
146          31
124          31
130          29
152          28
153          24
109          23
136          16
141          12
151          10
162           8
159           8
164           8
158           7
150           5
155           5
160           4
161           3
147           3
168           2
166           2
167           2
169           2
165           2
163           2
170           2
156           1
Name: a_count_combined, dtype: int64

In [37]:
train.loc[ train.tr==0 ].groupby('a_count_combined')[['reply','retweet','retweet_comment','like']].agg(['mean'])

                     reply   retweet retweet_comment      like
                      mean      mean            mean      mean
a_count_combined
0                 0.024772  0.106890        0.006934  0.435416
1                 0.025008  0.107590        0.007014  0.432782
2                 0.024938  0.107650        0.007095  0.434224
3                 0.024689  0.105501        0.006936  0.424183
4                 0.024608  0.107427        0.007053  0.432707
5                 0.024364  0.101566        0.006976  0.410747
6                 0.024497  0.106961        0.006882  0.433673
7                 0.024353  0.107623        0.006657  0.434342
8                 0.025312  0.105458        0.007182  0.428473
9                 0.024789  0.106566        0.006891  0.435839
10                0.024322  0.102757        0.006840  0.413302
11                0.024553  0.105542        0.007068  0.433844
12                0.024465  0.107217        0.006791  0.433888
13                0.024346  0.102235        0.006868  0.413262
14                0.024413  0.107795        0.007277  0.434361
15                0.024719  0.106495        0.006937  0.430798
16                0.024882  0.106881        0.006801  0.431550
17                0.024180  0.104485        0.006525  0.423908
18                0.026693  0.105105        0.008008  0.426760
19                0.024692  0.106444        0.006685  0.427564
20                0.025064  0.107757        0.007110  0.425906
21                0.024057  0.102147        0.006770  0.416368
22                0.023621  0.108487        0.007068  0.425357
23                0.024560  0.108680        0.006915  0.435976
24                0.024450  0.107224        0.007081  0.430009
25                0.024626  0.106908        0.006870  0.436165
26                0.026755  0.105397        0.008223  0.413134
27                0.025250  0.106192        0.006728  0.422391
28                0.024630  0.107375        0.006986  0.434506
29                0.024973  0.107135        0.007017  0.437205
30                0.022727  0.110390        0.006494  0.405844
31                0.024023  0.104760        0.006921  0.434809
32                0.024350  0.104779        0.006681  0.437217
33                0.021203  0.110522        0.007156  0.437583
34                0.024398  0.106083        0.007219  0.424157
35                0.024463  0.107014        0.007012  0.433140
36                0.024864  0.105916        0.007125  0.424822
37                0.031175  0.139089        0.009592  0.446043
38                0.025724  0.108301        0.006701  0.442067
39                0.025272  0.107693        0.006813  0.433442
40                0.025642  0.106630        0.006832  0.430674
41                0.025824  0.107971        0.007218  0.433442
42                0.024932  0.109782        0.006997  0.432435
43                0.022643  0.101254        0.006735  0.437065
44                0.023706  0.107869        0.006429  0.434135
45                0.026269  0.106583        0.006836  0.436992
46                0.024351  0.110176        0.007480  0.438503
47                0.023789  0.108934        0.006781  0.421959
48                0.024352  0.110511        0.007701  0.430754
49                0.024985  0.111764        0.007215  0.435300
50                0.024783  0.107632        0.006744  0.438295
51                0.025492  0.105423        0.007254  0.441727
52                0.026248  0.109339        0.007575  0.430834
53                0.024782  0.107599        0.007137  0.434580
54                0.024517  0.104670        0.007229  0.424496
55                0.025824  0.106188        0.006864  0.427354
56                0.019220  0.113125        0.006041  0.430533
57                0.024509  0.105710        0.007095  0.429357
58                0.025143  0.111429        0.006286  0.444000
59                0.023711  0.104924        0.006779  0.420256
60                0.024326  0.101046        0.007265  0.431040
61                0.024071  0.106763        0.006652  0.437909
62                0.031226  0.095963        0.009139  0.412034
63                0.025792  0.109474        0.007050  0.445693
64                0.024624  0.102012        0.006463  0.410095
65                0.022553  0.109476        0.009486  0.427161
66                0.025977  0.101135        0.006810  0.434300
67                0.024651  0.108727        0.008474  0.426984
68                0.027486  0.104689        0.008286  0.428052
69                0.024624  0.098620        0.007586  0.433155
70                0.027062  0.105527        0.007016  0.423110
71                0.023944  0.109725        0.006087  0.433217
72                0.025000  0.110686        0.007647  0.427647
73                0.025595  0.106088        0.007057  0.430451
74                0.024329  0.112416        0.008389  0.430369
75                0.023985  0.103386        0.007154  0.435323
76                0.025054  0.101050        0.005965  0.434741
77                0.025781  0.109073        0.007933  0.439762
78                0.025482  0.103579        0.006268  0.435758
79                0.025218  0.104898        0.005788  0.423869
80                0.025909  0.105126        0.005592  0.426281
81                0.025196  0.106266        0.007444  0.424902
82                0.019455  0.093385        0.003891  0.381323
83                0.022370  0.108534        0.007042  0.431234
84                0.024240  0.100034        0.006487  0.425401
85                0.021994  0.107840        0.006385  0.452643
86                0.022013  0.108149        0.006563  0.424938
87                0.023709  0.097998        0.003688  0.427292
88                0.024412  0.107353        0.007353  0.426765
89                0.024795  0.107836        0.007096  0.434932
90                0.024427  0.099791        0.008043  0.434614
91                0.022408  0.105784        0.008338  0.429911
92                0.024982  0.108376        0.007720  0.432848
93                0.026601  0.103448        0.006897  0.438424
94                0.024422  0.106317        0.006427  0.457400
95                0.021454  0.098530        0.006754  0.421136
96                0.022222  0.104127        0.003810  0.412063
97                0.023939  0.110990        0.005078  0.415306
98                0.032688  0.092061        0.007338  0.422282
99                0.021557  0.102994        0.006387  0.413573
100               0.023419  0.107923        0.005660  0.443989
101               0.021191  0.109966        0.009737  0.449599
102               0.028807  0.106996        0.004115  0.460905
103               0.023217  0.116086        0.006633  0.456053
104               0.017361  0.104167        0.010417  0.416667
105               0.029007  0.113125        0.005076  0.437999
106               0.022883  0.121281        0.009153  0.469108
107               0.019920  0.079681        0.011952  0.446215
108               0.023328  0.111975        0.010886  0.432348
109               0.086957  0.043478        0.000000  0.347826
110               0.017422  0.101045        0.003484  0.470383
111               0.021390  0.090909        0.000000  0.475936
112               0.020566  0.100257        0.007712  0.380463
113               0.039427  0.118280        0.003584  0.419355
114               0.028791  0.110365        0.003839  0.458733
115               0.018836  0.107877        0.008562  0.517123
116               0.022302  0.107047        0.006244  0.428189
117               0.036390  0.106259        0.005822  0.448326
118               0.029813  0.104770        0.009370  0.417376
119               0.028889  0.108889        0.006667  0.446667
120               0.024617  0.103127        0.006986  0.437791
121               0.011274  0.109357        0.001127  0.436302
122               0.058824  0.117647        0.000000  0.441176
123               0.019549  0.097744        0.004511  0.406015
124               0.000000  0.172414        0.000000  0.482759
125               0.011547  0.108545        0.004619  0.434180
126               0.026869  0.122664        0.005841  0.450935
127               0.032922  0.115226        0.008230  0.473251
128               0.024730  0.106646        0.004637  0.443586
129               0.027466  0.104869        0.004994  0.385768
130               0.040000  0.080000        0.000000  0.480000
131               0.000000  0.039216        0.000000  0.392157
132               0.022005  0.124694        0.012225  0.396088
133               0.000000  0.039216        0.000000  0.411765
134               0.008000  0.088000        0.008000  0.468000
135               0.010076  0.088161        0.002519  0.458438
136               0.071429  0.000000        0.000000  0.571429
137               0.033846  0.092308        0.003077  0.403077
138               0.000000  0.071429        0.000000  0.392857
139               0.061224  0.040816        0.000000  0.469388
140               0.000000  0.111111        0.022222  0.488889
141               0.000000  0.083333        0.000000  0.416667
142               0.040000  0.133333        0.000000  0.493333
143               0.022059  0.132353        0.007353  0.455882
144               0.019002  0.121140        0.004751  0.453682
145               0.014851  0.113861        0.019802  0.445545
146               0.000000  0.096774        0.000000  0.451613
147               0.000000  0.000000        0.000000  0.666667
148               0.000000  0.086957        0.000000  0.463768
149               0.020833  0.083333        0.000000  0.562500
150               0.000000  0.400000        0.200000  0.600000
151               0.000000  0.000000        0.000000  0.666667
152               0.038462  0.038462        0.000000  0.538462
153               0.000000  0.181818        0.000000  0.681818
154               0.000000  0.121212        0.000000  0.454545
155               0.000000  0.000000        0.000000  0.500000
156               0.000000  0.000000        0.000000  0.000000
157               0.000000  0.063492        0.000000  0.380952
158               0.200000  0.200000        0.000000  0.200000
159               0.000000  0.000000        0.000000  0.500000
160               0.000000  0.000000        0.000000  0.500000
161               0.000000  0.333333        0.000000  0.333333
162               0.000000  0.000000        0.000000  1.000000
163               0.000000  0.000000        0.000000  0.500000
164               0.000000  0.166667        0.000000  0.500000
165               0.000000  0.000000        0.000000  0.000000
166               0.000000  0.000000        0.000000  0.500000
167               0.000000  0.500000        0.000000  0.500000
168               0.000000  0.000000        0.000000  0.500000
169               0.000000  0.000000        0.000000  1.000000
170               0.000000  0.500000        0.000000  0.500000

In [38]:
train.head()

,timestamp,a_follower_count,a_following_count,a_is_verified,a_account_creation,b_follower_count,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like,id,language,tweet_type,media,tweet_id,a_user_id,b_user_id,len_hashtags,len_domains,len_links,domains,links,hashtags,tr,engage,a_user_fer_count_delta_time,a_user_fing_count_delta_time,a_user_fering_count_delta_time,a_user_fing_count_mode,a_user_fer_count_mode,a_user_fering_count_mode,a_count_combined
0,1580947200,438860,159,1,1480270328,63,351,0,1505350202,0,0,0,0,0,78208872,54,2,12,13853657,13488905,4009871,1,1,1,266516,4141906,191970,0,0,0,0,0,0,0,0,0
1,1580947200,2828662,217,1,1244233304,37,43,0,1573587136,0,0,0,0,0,83895315,59,2,4,30382844,4768532,20049830,0,1,1,103730,2712364,0,0,0,0,1,0,1,0,0,1
2,1580947200,9794149,90,1,1321282652,0,36,0,1574692024,0,0,0,0,0,8177999,54,2,4,46335397,17612981,25428544,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1
3,1580947200,7230468,758,1,1184948409,408,231,0,1289164476,0,0,0,0,0,92868826,3,2,12,56738631,22760498,26051552,0,1,1,115975,2460396,0,0,0,0,1,0,1,0,0,1
4,1580947200,53032,12,1,1530316237,2,68,0,1541192342,0,0,0,0,0,4824533,54,2,8,56380015,24605653,975650,0,0,0,0,0,0,0,0,-1,1,-1,1,0,0,2

In [39]:
dt = train[['id','a_count_combined','a_user_fer_count_delta_time','a_user_fing_count_delta_time','a_user_fering_count_delta_time','a_user_fing_count_mode','a_user_fer_count_mode','a_user_fering_count_mode']]
dt = dt.sort_values( 'id' )
dt = dt.reset_index( drop=True )
save_memory( dt )
dt.to_parquet( 'a_count_combined-final.parquet' )
dt.tail(5)

,id,a_count_combined,a_user_fer_count_delta_time,a_user_fing_count_delta_time,a_user_fering_count_delta_time,a_user_fing_count_mode,a_user_fer_count_mode,a_user_fering_count_mode
126350612,125780463,3,1,1,1,1,1,1
126350613,125780464,1,0,1,0,1,0,0
126350614,125780465,3,1,1,1,1,1,1
126350615,125780466,3,1,1,1,1,1,1
126350616,125780467,0,0,0,0,0,0,0